# Data Wrangling Exercise

In [368]:
import numpy as np
import pandas as pd
import requests
import os
import json
from timeit import default_timer as timer
import matplotlib.pyplot as plt

In [369]:
# Import csv file
tae = pd.read_csv('twitter-archive-enhanced.csv')

In [370]:
# Get overview of dataset
tae.head()
tae.tail()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [371]:
tae.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [372]:
tae.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [373]:
tae.corr()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
tweet_id,1.000000,0.940568,0.135083,0.744733,0.144644,0.049496,-0.028273
in_reply_to_status_id,0.940568,1.000000,0.136589,NaN,NaN,0.265525,-0.109931
in_reply_to_user_id,0.135083,0.136589,1.000000,NaN,NaN,-0.034593,-0.019973
retweeted_status_id,0.744733,NaN,NaN,1.000000,0.168284,0.171930,-0.037949
retweeted_status_user_id,0.144644,NaN,NaN,0.168284,1.000000,0.016674,-0.009668
rating_numerator,0.049496,0.265525,-0.034593,0.171930,0.016674,1.000000,0.150388
rating_denominator,-0.028273,-0.109931,-0.019973,-0.037949,-0.009668,0.150388,1.000000

In [374]:
tae.in_reply_to_status_id.value_counts()

6.671522e+17    2
6.715449e+17    1
7.030419e+17    1
6.747400e+17    1
8.116272e+17    1
               ..
7.384119e+17    1
7.638652e+17    1
7.476487e+17    1
6.758457e+17    1
6.706684e+17    1
Name: in_reply_to_status_id, Length: 77, dtype: int64

In [375]:
# Rename columns
tae.rename(columns={'tweet_id':'tweat_id', 'timestamp':'time'}, inplace=True)
tae.columns

Index(['tweat_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'time',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo'],
      dtype='object')

In [376]:
# Rename index
tae.index
tae.rename(index={1:1})
tae.set_index('tweat_id')
tae.reset_index()

,index,tweat_id,in_reply_to_status_id,in_reply_to_user_id,time,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [377]:
# Find and handle missing and duplicate values
tae.isnull().sum()

tweat_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
time                             0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [378]:
tae.isna().sum()

tweat_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
time                             0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [379]:
#tae.dropna(axis=0, inplace=True) # rows
#tae.dropna(axis=1, inplace=True) # columns

In [380]:
tae.fillna(method='ffill', axis=0, inplace=True)
tae.fillna(method='bfill', axis=0, inplace=True)

In [381]:
tae.source.duplicated().sum()

2352

In [382]:
# Convert data types
tae.tweat_id = tae.tweat_id.astype(float)

In [383]:
tae['time'] = pd.to_datetime(tae['time'])
tae.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweat_id                    2356 non-null   float64
 1   in_reply_to_status_id       2356 non-null   float64
 2   in_reply_to_user_id         2356 non-null   float64
 3   time                        2356 non-null   datetime64[ns, UTC]
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         2356 non-null   float64
 7   retweeted_status_user_id    2356 non-null   float64
 8   retweeted_status_timestamp  2356 non-null   object
 9   expanded_urls               2356 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: datetime64[ns, UTC](1), float64(5), int64(2), object(9)
memory usage: 313.0+ KB

In [384]:
# Group data 
# (.sum / .count / .median / .quantile([0.25,0.75]) / .min / .max / .mean / .var / .std / .apply(function)
# .size / .value_counts / .rank(method='dense' or 'min' or 'first' or 'pct=True') / .cumsum (cumulative sum) 
# / .cummax / .cummin / .cumprod

In [385]:
tae.groupby(['source', 'rating_denominator'])['rating_numerator'].mean()

source                                                                               rating_denominator
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                   10                     10.121212
<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>   0                     960.000000
                                                                                     2                       1.000000
                                                                                     7                      24.000000
                                                                                     10                     11.506824
                                                                                     11                      8.333333
                                                                                     15                     11.000000
                                                                                     16                     20.000000
                                                                                     20                      4.000000
                                                                                     40                     44.000000
                                                                                     50                     51.666667
                                                                                     70                     84.000000
                                                                                     80                     84.000000
                                                                                     90                     99.000000
                                                                                     110                   121.000000
                                                                                     120                   144.000000
                                                                                     130                   143.000000
                                                                                     150                   165.000000
                                                                                     170                   204.000000
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                      10                     11.395604
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>  10                    171.545455
Name: rating_numerator, dtype: float64

In [386]:
# Access columns
# Access rows
# Access subsets

In [387]:
tae.iloc[3:5]

,tweat_id,in_reply_to_status_id,in_reply_to_user_id,time,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
3,8.916896e+17,8.862664e+17,2.281182e+09,2017-07-30 15:58:51+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,8.913276e+17,8.862664e+17,2.281182e+09,2017-07-29 16:00:24+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [388]:
tae.iloc[:,3:5]

,time,source
0,2017-08-01 16:23:56+00:00,"<a href=""http://twitter.com/download/iphone"" r..."
1,2017-08-01 00:17:27+00:00,"<a href=""http://twitter.com/download/iphone"" r..."
2,2017-07-31 00:18:03+00:00,"<a href=""http://twitter.com/download/iphone"" r..."
3,2017-07-30 15:58:51+00:00,"<a href=""http://twitter.com/download/iphone"" r..."
4,2017-07-29 16:00:24+00:00,"<a href=""http://twitter.com/download/iphone"" r..."
...,...,...
2351,2015-11-16 00:24:50+00:00,"<a href=""http://twitter.com/download/iphone"" r..."
2352,2015-11-16 00:04:52+00:00,"<a href=""http://twitter.com/download/iphone"" r..."
2353,2015-11-15 23:21:54+00:00,"<a href=""http://twitter.com/download/iphone"" r..."
2354,2015-11-15 23:05:30+00:00,"<a href=""http://twitter.com/download/iphone"" r..."
2355,2015-11-15 22:32:08+00:00,"<a href=""http://twitter.com/download/iphone"" r..."

In [389]:
tae.iloc[3:5,3:5] # integer based on position

                       time                                             source
3 2017-07-30 15:58:51+00:00  <a href="http://twitter.com/download/iphone" r...
4 2017-07-29 16:00:24+00:00  <a href="http://twitter.com/download/iphone" r...

In [390]:
tae.iloc[3:5,[3,4,6]]

,time,source,retweeted_status_id
3,2017-07-30 15:58:51+00:00,"<a href=""http://twitter.com/download/iphone"" r...",8.874740e+17
4,2017-07-29 16:00:24+00:00,"<a href=""http://twitter.com/download/iphone"" r...",8.874740e+17

In [391]:
tae.iloc[[1,5,7],[3,4,6]]

,time,source,retweeted_status_id
1,2017-08-01 00:17:27+00:00,"<a href=""http://twitter.com/download/iphone"" r...",8.874740e+17
5,2017-07-29 00:08:17+00:00,"<a href=""http://twitter.com/download/iphone"" r...",8.874740e+17
7,2017-07-28 00:22:40+00:00,"<a href=""http://twitter.com/download/iphone"" r...",8.874740e+17

In [392]:
tae.loc[3:5]

,tweat_id,in_reply_to_status_id,in_reply_to_user_id,time,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
3,8.916896e+17,8.862664e+17,2.281182e+09,2017-07-30 15:58:51+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,8.913276e+17,8.862664e+17,2.281182e+09,2017-07-29 16:00:24+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,8.910880e+17,8.862664e+17,2.281182e+09,2017-07-29 00:08:17+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None

In [393]:
tae.loc[:,['tweat_id', 'time']]

          tweat_id                      time
0     8.924206e+17 2017-08-01 16:23:56+00:00
1     8.921774e+17 2017-08-01 00:17:27+00:00
2     8.918152e+17 2017-07-31 00:18:03+00:00
3     8.916896e+17 2017-07-30 15:58:51+00:00
4     8.913276e+17 2017-07-29 16:00:24+00:00
...            ...                       ...
2351  6.660492e+17 2015-11-16 00:24:50+00:00
2352  6.660442e+17 2015-11-16 00:04:52+00:00
2353  6.660334e+17 2015-11-15 23:21:54+00:00
2354  6.660293e+17 2015-11-15 23:05:30+00:00
2355  6.660209e+17 2015-11-15 22:32:08+00:00

[2356 rows x 2 columns]

In [394]:
tae.loc[3:5,('tweat_id', 'time')] # label based

       tweat_id                      time
3  8.916896e+17 2017-07-30 15:58:51+00:00
4  8.913276e+17 2017-07-29 16:00:24+00:00
5  8.910880e+17 2017-07-29 00:08:17+00:00

In [395]:
tae.loc[tae.tweat_id == 714214115368108032] # not working with iloc, conversion to list necessary

,tweat_id,in_reply_to_status_id,in_reply_to_user_id,time,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1224,7.142141e+17,7.291135e+17,4.196984e+09,2016-03-27 22:14:49+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Happy Easter from the squad! ðŸ‡ðŸ¶ 13/10 for all ...,6.671383e+17,4.196984e+09,2015-11-19 00:32:12 +0000,https://twitter.com/dog_rates/status/714214115...,13,10,None,None,None,None,None

In [396]:
tae.loc[tae.tweat_id == 714214115368108032, ('tweat_id', 'time')]

          tweat_id                      time
1224  7.142141e+17 2016-03-27 22:14:49+00:00

In [397]:
tae[['time', 'tweat_id']].iloc[1:3]

                       time      tweat_id
1 2017-08-01 00:17:27+00:00  8.921774e+17
2 2017-07-31 00:18:03+00:00  8.918152e+17

In [398]:
tae[['time', 'tweat_id']].loc[1:3]

                       time      tweat_id
1 2017-08-01 00:17:27+00:00  8.921774e+17
2 2017-07-31 00:18:03+00:00  8.918152e+17
3 2017-07-30 15:58:51+00:00  8.916896e+17

In [399]:
tae.query('tweat_id >= 714214115368108032')

,tweat_id,in_reply_to_status_id,in_reply_to_user_id,time,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,8.924206e+17,8.862664e+17,2.281182e+09,2017-08-01 16:23:56+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,8.921774e+17,8.862664e+17,2.281182e+09,2017-08-01 00:17:27+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,8.918152e+17,8.862664e+17,2.281182e+09,2017-07-31 00:18:03+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,8.916896e+17,8.862664e+17,2.281182e+09,2017-07-30 15:58:51+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,8.913276e+17,8.862664e+17,2.281182e+09,2017-07-29 16:00:24+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1220,7.146060e+17,7.291135e+17,4.196984e+09,2016-03-29 00:12:05+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Here are two lil cuddly puppers. Both 12/10 wo...,6.671383e+17,4.196984e+09,2015-11-19 00:32:12 +0000,https://twitter.com/dog_rates/status/714606013...,12,10,None,None,None,None,None
1221,7.144852e+17,7.291135e+17,4.196984e+09,2016-03-28 16:12:09+00:00,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",This is Blitz. He screams. 10/10 (vid by @yeaa...,6.671383e+17,4.196984e+09,2015-11-19 00:32:12 +0000,https://vine.co/v/iDrOvVqq0A6,10,10,Blitz,None,None,None,None
1222,7.142583e+17,7.291135e+17,4.196984e+09,2016-03-28 01:10:13+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Meet Travis and Flurp. Travis is pretty chill ...,6.671383e+17,4.196984e+09,2015-11-19 00:32:12 +0000,https://twitter.com/dog_rates/status/714258258...,10,10,Travis,None,None,None,None
1223,7.142516e+17,7.291135e+17,4.196984e+09,2016-03-28 00:43:43+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Thumas. He hates potted plants. 8/10 w...,6.671383e+17,4.196984e+09,2015-11-19 00:32:12 +0000,https://twitter.com/dog_rates/status/714251586...,8,10,Thumas,None,None,None,None
1224,7.142141e+17,7.291135e+17,4.196984e+09,2016-03-27 22:14:49+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Happy Easter from the squad! ðŸ‡ðŸ¶ 13/10 for all ...,6.671383e+17,4.196984e+09,2015-11-19 00:32:12 +0000,https://twitter.com/dog_rates/status/714214115...,13,10,None,None,None,None,None

In [400]:
tae.query('tweat_id >= 714214115368108032' and 'name == "Charlie"')

,tweat_id,in_reply_to_status_id,in_reply_to_user_id,time,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
230,8.479789e+17,8.482121e+17,4.196984e+09,2017-04-01 01:08:10+00:00,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Charlie. He fell asleep...,8.323699e+17,4.196984e+09,2017-02-16 23:23:38 +0000,https://twitter.com/dog_rates/status/832369877...,11,10,Charlie,None,None,None,None
254,8.445805e+17,7.590995e+17,4.196984e+09,2017-03-22 16:04:20+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Charlie. He wants to know if you have ...,7.733088e+17,4.196984e+09,2016-09-06 23:56:05 +0000,https://twitter.com/dog_rates/status/844580511...,11,10,Charlie,None,None,None,None
261,8.428463e+17,7.590995e+17,4.196984e+09,2017-03-17 21:13:10+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Charlie. He's wishing you a very fun a...,8.071068e+17,4.196984e+09,2016-12-09 06:17:20 +0000,https://twitter.com/dog_rates/status/842846295...,13,10,Charlie,None,None,None,None
326,8.338261e+17,8.352460e+17,2.625958e+07,2017-02-20 23:50:09+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Meet Charlie. She asked u to change the channe...,8.295020e+17,4.196984e+09,2017-02-09 01:27:41 +0000,https://twitter.com/dog_rates/status/833826103...,13,10,Charlie,None,None,None,None
338,8.323699e+17,8.352460e+17,2.625958e+07,2017-02-16 23:23:38+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Charlie. He fell asleep on a heating v...,8.327664e+17,4.871977e+08,2017-02-18 01:39:12 +0000,https://twitter.com/dog_rates/status/832369877...,11,10,Charlie,None,None,None,None
383,8.272000e+17,8.319030e+17,2.068372e+07,2017-02-02 17:00:17+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Charlie. He wins every game of chess h...,6.946697e+17,4.196984e+09,2016-02-02 23:52:22 +0000,https://twitter.com/dog_rates/status/827199976...,13,10,Charlie,None,None,None,None
813,7.711021e+17,7.727430e+17,7.305050e+17,2016-08-31 21:47:27+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Charlie. He works for @TODAYshow. Supe...,6.733201e+17,4.196984e+09,2015-12-06 01:56:44 +0000,https://twitter.com/dog_rates/status/771102124...,12,10,Charlie,None,None,None,None
932,7.540118e+17,7.638652e+17,1.584641e+07,2016-07-15 17:56:40+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Charlie. He pouts until he gets to go ...,6.791584e+17,4.196984e+09,2015-12-22 04:35:49 +0000,https://twitter.com/dog_rates/status/754011816...,12,10,Charlie,None,None,None,None
1358,7.033828e+17,7.030419e+17,4.196984e+09,2016-02-27 00:55:11+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Charlie. He's a West Side Niddlewog. M...,7.119983e+17,7.832140e+05,2016-03-21 19:29:52 +0000,https://twitter.com/dog_rates/status/703382836...,12,10,Charlie,None,None,None,None
1436,6.972551e+17,7.030419e+17,4.196984e+09,2016-02-10 03:05:46+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Meet Charlie. He likes to kiss all the big mil...,7.119983e+17,7.832140e+05,2016-03-21 19:29:52 +0000,https://twitter.com/dog_rates/status/697255105...,10,10,Charlie,None,None,None,None
1682,6.818915e+17,6.827884e+17,4.196984e+09,2015-12-29 17:36:07+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Charlie. He's scholarly af. Quite...,7.119983e+17,7.832140e+05,2016-03-21 19:29:52 +0000,https://twitter.com/dog_rates/status/681891461...,10,10,Charlie,None,None,pupper,None
2049,6.715046e+17,6.715449e+17,4.196984e+09,2015-12-01 01:42:28+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Charlie. He was just informed that dog...,7.119983e+17,7.832140e+05,2016-03-21 19:29:52 +0000,https://twitter.com/dog_rates/status/671504605...,11,10,Charlie,None,None,None,None

In [401]:
tae.query('tweat_id >= 714214115368108032' and 'name == "Charlie"').iloc[0:500]

,tweat_id,in_reply_to_status_id,in_reply_to_user_id,time,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
230,8.479789e+17,8.482121e+17,4.196984e+09,2017-04-01 01:08:10+00:00,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Charlie. He fell asleep...,8.323699e+17,4.196984e+09,2017-02-16 23:23:38 +0000,https://twitter.com/dog_rates/status/832369877...,11,10,Charlie,None,None,None,None
254,8.445805e+17,7.590995e+17,4.196984e+09,2017-03-22 16:04:20+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Charlie. He wants to know if you have ...,7.733088e+17,4.196984e+09,2016-09-06 23:56:05 +0000,https://twitter.com/dog_rates/status/844580511...,11,10,Charlie,None,None,None,None
261,8.428463e+17,7.590995e+17,4.196984e+09,2017-03-17 21:13:10+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Charlie. He's wishing you a very fun a...,8.071068e+17,4.196984e+09,2016-12-09 06:17:20 +0000,https://twitter.com/dog_rates/status/842846295...,13,10,Charlie,None,None,None,None
326,8.338261e+17,8.352460e+17,2.625958e+07,2017-02-20 23:50:09+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Meet Charlie. She asked u to change the channe...,8.295020e+17,4.196984e+09,2017-02-09 01:27:41 +0000,https://twitter.com/dog_rates/status/833826103...,13,10,Charlie,None,None,None,None
338,8.323699e+17,8.352460e+17,2.625958e+07,2017-02-16 23:23:38+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Charlie. He fell asleep on a heating v...,8.327664e+17,4.871977e+08,2017-02-18 01:39:12 +0000,https://twitter.com/dog_rates/status/832369877...,11,10,Charlie,None,None,None,None
383,8.272000e+17,8.319030e+17,2.068372e+07,2017-02-02 17:00:17+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Charlie. He wins every game of chess h...,6.946697e+17,4.196984e+09,2016-02-02 23:52:22 +0000,https://twitter.com/dog_rates/status/827199976...,13,10,Charlie,None,None,None,None
813,7.711021e+17,7.727430e+17,7.305050e+17,2016-08-31 21:47:27+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Charlie. He works for @TODAYshow. Supe...,6.733201e+17,4.196984e+09,2015-12-06 01:56:44 +0000,https://twitter.com/dog_rates/status/771102124...,12,10,Charlie,None,None,None,None
932,7.540118e+17,7.638652e+17,1.584641e+07,2016-07-15 17:56:40+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Charlie. He pouts until he gets to go ...,6.791584e+17,4.196984e+09,2015-12-22 04:35:49 +0000,https://twitter.com/dog_rates/status/754011816...,12,10,Charlie,None,None,None,None
1358,7.033828e+17,7.030419e+17,4.196984e+09,2016-02-27 00:55:11+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Charlie. He's a West Side Niddlewog. M...,7.119983e+17,7.832140e+05,2016-03-21 19:29:52 +0000,https://twitter.com/dog_rates/status/703382836...,12,10,Charlie,None,None,None,None
1436,6.972551e+17,7.030419e+17,4.196984e+09,2016-02-10 03:05:46+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Meet Charlie. He likes to kiss all the big mil...,7.119983e+17,7.832140e+05,2016-03-21 19:29:52 +0000,https://twitter.com/dog_rates/status/697255105...,10,10,Charlie,None,None,None,None
1682,6.818915e+17,6.827884e+17,4.196984e+09,2015-12-29 17:36:07+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Charlie. He's scholarly af. Quite...,7.119983e+17,7.832140e+05,2016-03-21 19:29:52 +0000,https://twitter.com/dog_rates/status/681891461...,10,10,Charlie,None,None,pupper,None
2049,6.715046e+17,6.715449e+17,4.196984e+09,2015-12-01 01:42:28+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Charlie. He was just informed that dog...,7.119983e+17,7.832140e+05,2016-03-21 19:29:52 +0000,https://twitter.com/dog_rates/status/671504605...,11,10,Charlie,None,None,None,None

In [402]:
tae.query('tweat_id >= 714214115368108032' and 'name == "Charlie"').loc[0:500]

,tweat_id,in_reply_to_status_id,in_reply_to_user_id,time,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
230,8.479789e+17,8.482121e+17,4.196984e+09,2017-04-01 01:08:10+00:00,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Charlie. He fell asleep...,8.323699e+17,4.196984e+09,2017-02-16 23:23:38 +0000,https://twitter.com/dog_rates/status/832369877...,11,10,Charlie,None,None,None,None
254,8.445805e+17,7.590995e+17,4.196984e+09,2017-03-22 16:04:20+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Charlie. He wants to know if you have ...,7.733088e+17,4.196984e+09,2016-09-06 23:56:05 +0000,https://twitter.com/dog_rates/status/844580511...,11,10,Charlie,None,None,None,None
261,8.428463e+17,7.590995e+17,4.196984e+09,2017-03-17 21:13:10+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Charlie. He's wishing you a very fun a...,8.071068e+17,4.196984e+09,2016-12-09 06:17:20 +0000,https://twitter.com/dog_rates/status/842846295...,13,10,Charlie,None,None,None,None
326,8.338261e+17,8.352460e+17,2.625958e+07,2017-02-20 23:50:09+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Meet Charlie. She asked u to change the channe...,8.295020e+17,4.196984e+09,2017-02-09 01:27:41 +0000,https://twitter.com/dog_rates/status/833826103...,13,10,Charlie,None,None,None,None
338,8.323699e+17,8.352460e+17,2.625958e+07,2017-02-16 23:23:38+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Charlie. He fell asleep on a heating v...,8.327664e+17,4.871977e+08,2017-02-18 01:39:12 +0000,https://twitter.com/dog_rates/status/832369877...,11,10,Charlie,None,None,None,None
383,8.272000e+17,8.319030e+17,2.068372e+07,2017-02-02 17:00:17+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Charlie. He wins every game of chess h...,6.946697e+17,4.196984e+09,2016-02-02 23:52:22 +0000,https://twitter.com/dog_rates/status/827199976...,13,10,Charlie,None,None,None,None

In [403]:
# Create new column
tae['rating'] = tae.rating_numerator / tae.rating_denominator

In [404]:
# Create new row
columns = tae.columns

Index(['tweat_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'time',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo',
       'rating'],
      dtype='object')

In [513]:
# Change values
tae.iloc[1:2, 2:3] = 1234

In [503]:
# Remove values
tae.drop(['in_reply_to_status_id'], axis=1)

,tweat_id,in_reply_to_user_id,time,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,rating
0,8.924206e+17,2.281182e+09,2017-08-01 16:23:56+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None,1.3
1,8.921774e+17,2.281182e+09,2017-08-01 00:17:27+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None,1.3
2,8.918152e+17,2.281182e+09,2017-07-31 00:18:03+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None,1.2
3,8.916896e+17,2.281182e+09,2017-07-30 15:58:51+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None,1.3
4,8.913276e+17,2.281182e+09,2017-07-29 16:00:24+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None,1.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,6.660492e+17,4.196984e+09,2015-11-16 00:24:50+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,6.675484e+17,4.296832e+09,2015-11-20 03:41:59 +0000,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None,0.5
2352,6.660442e+17,4.196984e+09,2015-11-16 00:04:52+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,6.675484e+17,4.296832e+09,2015-11-20 03:41:59 +0000,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None,0.6
2353,6.660334e+17,4.196984e+09,2015-11-15 23:21:54+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,6.675484e+17,4.296832e+09,2015-11-20 03:41:59 +0000,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None,0.9
2354,6.660293e+17,4.196984e+09,2015-11-15 23:05:30+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,6.675484e+17,4.296832e+09,2015-11-20 03:41:59 +0000,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None,0.7
2355,6.660209e+17,4.196984e+09,2015-11-15 22:32:08+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,6.675484e+17,4.296832e+09,2015-11-20 03:41:59 +0000,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None,0.8

In [518]:
# Sort values
tae = tae.sort_values('tweat_id')

In [523]:
tae = tae.sort_values('source')

In [456]:
# Create list
new_list = [5,9,454,765]

In [ ]:
# Append values
new_list.append(444)

In [459]:
# Sort list
sorted(new_list) # temp
new_list.sort()

In [460]:
# Access values
new_list[3]

454

In [465]:
# Delete values
new_list.remove(444)

In [466]:
# Change values
new_list[2] = 6789

In [474]:
# Create dict
new_dict = {'anne':12, 'joni':13, 'zwÃ¶rgÃ¼':14}

dict_items([('anne', 12), ('joni', 13), ('zwÃ¶rgÃ¼', 14)])

In [483]:
new_dict_details = {'anne':(12,13,14), 'joni':(12,13,14), 'zwÃ¶rgÃ¼':(12,13,14)}
new_dict_details.items()

dict_items([('anne', (12, 13, 14)), ('joni', (12, 13, 14)), ('zwÃ¶rgÃ¼', (12, 13, 14))])

In [489]:
mini_zwÃ¶rgÃ¼ = (1,2,3)
new_dict_details['mini_zwÃ¶rgÃ¼'] = mini_zwÃ¶rgÃ¼

In [490]:
new_dict_details

{'anne': (12, 13, 14),
 'joni': (12, 13, 14),
 'zwÃ¶rgÃ¼': (12, 13, 14),
 'mini_zwÃ¶rgÃ¼': (1, 2, 3)}

In [475]:
# Access values
new_dict.keys()
new_dict.values()
new_dict.items()

dict_items([('anne', 12), ('joni', 13), ('zwÃ¶rgÃ¼', 14)])

In [491]:
new_dict.get('zwÃ¶rgÃ¼')

14

In [ ]:
# Create one column for dog

In [539]:
dog_list = ['doggo', 'floofer', 'pupper', 'puppo']

for dog in dog_list:
    tae[dog] = tae[dog].str.replace('None', '')

In [541]:
tae['dog'] = tae['doggo'] + tae['floofer'] + tae['pupper'] + tae['puppo']

In [544]:
tae.dog.value_counts()

                1976
pupper           245
doggo             83
puppo             29
doggopupper       12
floofer            9
doggofloofer       1
doggopuppo         1
Name: dog, dtype: int64

In [545]:
tae['dog'] = tae['dog'].str.replace('doggopupper', '')
tae['dog'] = tae['dog'].str.replace('doggofloofer', '')
tae['dog'] = tae['dog'].str.replace('doggopuppo', '')

In [548]:
tae['dog'] = tae['dog'].replace('', np.nan)

In [549]:
tae.dog.value_counts()

pupper     245
doggo       83
puppo       29
floofer      9
Name: dog, dtype: int64

In [563]:
# Change values in cells (start, end with certain values, include or exclude certain values)
for i in range(0, len(tae)):
    tae.source[i] = tae.source[i][9:-39]

<ipython-input-563-ee98ad2324dd>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tae.source[i] = tae.source[i][9:-39]

In [564]:
tae.head()

,tweat_id,in_reply_to_status_id,in_reply_to_user_id,time,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,rating,dog
882,7.602902e+17,7.638652e+17,15846407.0,2016-08-02 01:44:48+00:00,http://twitter.com,This is Rocco. He's doing his best. 13/10 some...,7.116948e+17,4.196984e+09,2016-03-20 23:23:54 +0000,https://twitter.com/dog_rates/status/760290219...,13,10,Rocco,,,,,1.3,NaN
2260,6.675509e+17,6.689207e+17,21435658.0,2015-11-20 03:51:47+00:00,http://twitter.com,RT @dogratingrating: Unoriginal idea. Blatant ...,6.675484e+17,4.296832e+09,2015-11-20 03:41:59 +0000,https://twitter.com/dogratingrating/status/667...,5,10,None,,,,,0.5,NaN
2259,6.675509e+17,6.689207e+17,21435658.0,2015-11-20 03:51:52+00:00,http://twitter.com,RT @dogratingrating: Exceptional talent. Origi...,6.675487e+17,4.296832e+09,2015-11-20 03:43:06 +0000,https://twitter.com/dogratingrating/status/667...,12,10,None,,,,,1.2,NaN
2258,6.677243e+17,6.689207e+17,21435658.0,2015-11-20 15:20:54+00:00,http://twitter.com,What a dog to start the day with. Very calm. L...,7.119983e+17,7.832140e+05,2016-03-21 19:29:52 +0000,https://twitter.com/dog_rates/status/667724302...,7,10,None,,,,,0.7,NaN
2257,6.677282e+17,6.689207e+17,21435658.0,2015-11-20 15:36:22+00:00,http://twitter.com,Meet Olive. He comes to spot by tree to remini...,7.119983e+17,7.832140e+05,2016-03-21 19:29:52 +0000,https://twitter.com/dog_rates/status/667728196...,11,10,Olive,,,,,1.1,NaN

In [444]:
# Count words

len_list = []

for i in range(0, len(tae)):
    x = len(tae.text[i])
    len_list.append(x)

len_df = pd.DataFrame(len_list, columns=['word_count'])
len_df

      word_count
0            109
1            162
2            145
3            103
4            162
...          ...
2351         120
2352         137
2353         130
2354         139
2355         131

[2356 rows x 1 columns]

In [532]:
# Convert dataframe to list
len_df_list = len_df.word_count.tolist()

In [411]:
# Search True/False values
tae.name

0        Phineas
1          Tilly
2         Archie
3          Darla
4       Franklin
          ...
2351        None
2352           a
2353           a
2354           a
2355        None
Name: name, Length: 2356, dtype: object

In [412]:
name_count = tae.name.value_counts()
name_count = pd.DataFrame(name_count, columns={'name'})
name_count = name_count.reset_index()
name_count = name_count.rename(columns={'index':'name', 'name':'count'})
name_count

        name  count
0       None    745
1          a     55
2    Charlie     12
3       Lucy     11
4     Cooper     11
..       ...    ...
952  Jessiga      1
953   Jerome      1
954   Gordon      1
955    Miley      1
956    Tassy      1

[957 rows x 2 columns]

In [413]:
name_count['name'].value_counts()

Kollin    1
Clarq     1
Kuyu      1
Lolo      1
Maisey    1
         ..
Harry     1
Wafer     1
Noosh     1
Barney    1
Bobble    1
Name: name, Length: 957, dtype: int64

In [415]:
# Change to upper characters (upper, lower, capital, replace . - etc.)
for i in range(0, len(name_count)):
    name_count.name[i] = name_count.name[i].title()

<ipython-input-415-73b76d0ebf6b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  name_count.name[i] = name_count.name[i].title()

In [425]:
for i in range(0, len(name_count)):
    if len(name_count.name[i]) < 2:
        name_count.name[i] = name_count.name[i].replace(name_count.name[i], 'None')

<ipython-input-425-b9c917314a32>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  name_count.name[i] = name_count.name[i].replace(name_count.name[i], 'None')

In [427]:
name_count.groupby('name')['count'].count()

name
Abby        1
Ace         1
Acro        1
Actually    1
Adele       1
           ..
Ziva        1
Zoe         1
Zoey        1
Zooey       1
Zuzu        1
Name: count, Length: 955, dtype: int64

In [299]:
# Create function (normal, lambda)
def anne_function(x,y):
    z = x+y
    return z

anne_function(1,3)

4

In [303]:
enna_function = lambda x,y: x*y
enna_function(1,3)

3