# Data Wrangling Exercise

In [5]:
import numpy as np
import pandas as pd
import requests
import os
import json
from timeit import default_timer as timer
import matplotlib.pyplot as plt

In [6]:
#Import csv file
tae = pd.read_csv('twitter-archive-enhanced.csv')

In [7]:
tae.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [ ]:
# Get overview of dataset
# Find null values
# Handle missing data (find, fill, drop)
# Handle duplicates

In [ ]:
# Group data 
# (.sum / .count / .median / .quantile([0.25,0.75]) / .min / .max / .mean / .var / .std / .apply(function)
# .size / .value_counts / .rank(method='dense' or 'min' or 'first' or 'pct=True') / .cumsum (cumulative sum) 
# / .cummax / .cummin / .cumprod

In [ ]:
# Convert data types (string, date time)

In [ ]:
# Access columns
# Access rows
# Access subsets

In [ ]:
# Create new column

In [ ]:
# Create new row

In [ ]:
# Create, remove, sort, append, access, change values (dataframes, lists, dictonaries)
# Create a dictonary
# Access different values
# Create new items

In [ ]:
# Merge columns (melt, concat, merge)

In [ ]:
# Change values in cells (loop) (text, upper, lower, capital, replace . - etc.)
# Change values in cells (start, end with certain values, include or exclude certain values)

In [ ]:
# Count words

In [ ]:
# Change NaNs

In [ ]:
# Query data

In [ ]:
# Access column names (change column names)

In [ ]:
# Access index names (change index, set and reset)

In [ ]:
# Convert list to dataframe
# Convert dataframe to list

In [ ]:
# Search True/False values

In [ ]:
# Create function (normal, lambda)