# Data Wrangling Template

In [1]:
import numpy as np
import pandas as pd
import requests
import os
import json
from timeit import default_timer as timer
import matplotlib.pyplot as plt

In [2]:
#Import csv file
tae = pd.read_csv('twitter-archive-enhanced.csv')

In [6]:
tae.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [7]:
tae.sample(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1279,708845821941387268,NaN,NaN,2016-03-13 02:43:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a pupper with magic eyes. Not wearing a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/708845821...,9,10,None,None,None,pupper,None
1259,710272297844797440,NaN,NaN,2016-03-17 01:11:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...",We üëèüèª only üëèüèª rate üëèüèª dogs. Pls stop sending i...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/710272297...,11,10,infuriating,None,None,None,None
955,751598357617971201,NaN,NaN,2016-07-09 02:06:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Toby. A cat got his tongue. 13/10 ador...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/751598357...,13,10,Toby,None,None,None,None
1875,675113801096802304,NaN,NaN,2015-12-11 00:44:07 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Zuzu. He just graduated college. Astute p...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675113801...,10,10,Zuzu,None,None,pupper,None
2328,666396247373291520,NaN,NaN,2015-11-16 23:23:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh goodness. A super rare northeast Qdoba kang...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666396247...,9,10,None,None,None,None,None

In [8]:
tae.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [9]:
tae.info()

# tweet_id string?
# timestamp time
# source change text
# text analysis
# retweeted timestamp time
# name analysis
# doggo, floofer, pupper, puppo --> one column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

### Access rows, columns and build subsets

In [10]:
# access rows
tae.iloc[1224:1225]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1224,714214115368108032,NaN,NaN,2016-03-27 22:14:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Happy Easter from the squad! üêáüê∂ 13/10 for all ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/714214115...,13,10,None,None,None,None,None

In [11]:
# select columns in position 1, 3, 5
tae.iloc[:, [1,3,5]]

,in_reply_to_status_id,timestamp,text
0,NaN,2017-08-01 16:23:56 +0000,This is Phineas. He's a mystical boy. Only eve...
1,NaN,2017-08-01 00:17:27 +0000,This is Tilly. She's just checking pup on you....
2,NaN,2017-07-31 00:18:03 +0000,This is Archie. He is a rare Norwegian Pouncin...
3,NaN,2017-07-30 15:58:51 +0000,This is Darla. She commenced a snooze mid meal...
4,NaN,2017-07-29 16:00:24 +0000,This is Franklin. He would like you to stop ca...
...,...,...,...
2351,NaN,2015-11-16 00:24:50 +0000,Here we have a 1949 1st generation vulpix. Enj...
2352,NaN,2015-11-16 00:04:52 +0000,This is a purebred Piers Morgan. Loves to Netf...
2353,NaN,2015-11-15 23:21:54 +0000,Here is a very happy pup. Big fan of well-main...
2354,NaN,2015-11-15 23:05:30 +0000,This is a western brown Mitsubishi terrier. Up...
2355,NaN,2015-11-15 22:32:08 +0000,Here we have a Japanese Irish Setter. Lost eye...

In [12]:
# select rows that meet logical condition and only specific columns
tae.loc[tae['tweet_id'] > 10, ['timestamp', 'text']]

,timestamp,text
0,2017-08-01 16:23:56 +0000,This is Phineas. He's a mystical boy. Only eve...
1,2017-08-01 00:17:27 +0000,This is Tilly. She's just checking pup on you....
2,2017-07-31 00:18:03 +0000,This is Archie. He is a rare Norwegian Pouncin...
3,2017-07-30 15:58:51 +0000,This is Darla. She commenced a snooze mid meal...
4,2017-07-29 16:00:24 +0000,This is Franklin. He would like you to stop ca...
...,...,...
2351,2015-11-16 00:24:50 +0000,Here we have a 1949 1st generation vulpix. Enj...
2352,2015-11-16 00:04:52 +0000,This is a purebred Piers Morgan. Loves to Netf...
2353,2015-11-15 23:21:54 +0000,Here is a very happy pup. Big fan of well-main...
2354,2015-11-15 23:05:30 +0000,This is a western brown Mitsubishi terrier. Up...
2355,2015-11-15 22:32:08 +0000,Here we have a Japanese Irish Setter. Lost eye...

In [13]:
# access columns
tae[['tweet_id', 'timestamp']]

                tweet_id                  timestamp
0     892420643555336193  2017-08-01 16:23:56 +0000
1     892177421306343426  2017-08-01 00:17:27 +0000
2     891815181378084864  2017-07-31 00:18:03 +0000
3     891689557279858688  2017-07-30 15:58:51 +0000
4     891327558926688256  2017-07-29 16:00:24 +0000
...                  ...                        ...
2351  666049248165822465  2015-11-16 00:24:50 +0000
2352  666044226329800704  2015-11-16 00:04:52 +0000
2353  666033412701032449  2015-11-15 23:21:54 +0000
2354  666029285002620928  2015-11-15 23:05:30 +0000
2355  666020888022790149  2015-11-15 22:32:08 +0000

[2356 rows x 2 columns]

In [14]:
# build subset of table
tae[['tweet_id', 'timestamp']].iloc[1224:1228]

                tweet_id                  timestamp
1224  714214115368108032  2016-03-27 22:14:49 +0000
1225  714141408463036416  2016-03-27 17:25:54 +0000
1226  713919462244790272  2016-03-27 02:43:58 +0000
1227  713909862279876608  2016-03-27 02:05:49 +0000

In [15]:
columns = tae.columns
columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo'],
      dtype='object')

In [16]:
# difference between loc (index) and iloc (new "index")?
tae.loc[0:4]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [17]:
# select all columns between tweet_id and timestamp
tae.loc[:, 'tweet_id':'timestamp']

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000
...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000

### Build dataframe

In [18]:
# build new dataframe
data = tae[['tweet_id', 'timestamp']].iloc[1224:1228]

### Query dataframe

In [19]:
# query dataframe
data.query('tweet_id == 714214115368108032')

                tweet_id                  timestamp
1224  714214115368108032  2016-03-27 22:14:49 +0000

In [20]:
(len(tae)) - (tae.in_reply_to_status_id.isna().sum())

78

In [21]:
tae.query('tweet_id <= 884162670584377345')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
43,884162670584377345,NaN,NaN,2017-07-09 21:29:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Yogi. He doesn't have any important dog m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/884162670...,12,10,Yogi,doggo,None,None,None
44,883838122936631299,NaN,NaN,2017-07-09 00:00:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Noah. He can't believe someone made th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/883838122...,12,10,Noah,None,None,None,None
45,883482846933004288,NaN,NaN,2017-07-08 00:28:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bella. She hopes her smile made you sm...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/883482846...,5,10,Bella,None,None,None,None
46,883360690899218434,NaN,NaN,2017-07-07 16:22:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Grizzwald. He may be the floofiest floofe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/883360690...,13,10,Grizzwald,None,floofer,None,None
47,883117836046086144,NaN,NaN,2017-07-07 00:17:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Please only send dogs. We don't rate mechanics...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/883117836...,13,10,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [22]:
tae.query("name == 'Phineas'")

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
2104,670668383499735048,NaN,NaN,2015-11-28 18:19:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a magical dog. Only appe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/670668383...,10,10,Phineas,None,None,None,None

In [23]:
tae[tae.tweet_id > 890000070584377345]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None
10,890006608113172480,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None

### Use loops

#### For loops

In [24]:
long_columns = []

for column in columns:
    length = len(column)
    if length > 10:
        long_columns.append(column)

In [25]:
long_columns

['in_reply_to_status_id',
 'in_reply_to_user_id',
 'retweeted_status_id',
 'retweeted_status_user_id',
 'retweeted_status_timestamp',
 'expanded_urls',
 'rating_numerator',
 'rating_denominator']

In [26]:
id_columns = []

for column in columns:
    if 'id' in column:
        id_columns.append(column)

In [27]:
id_columns

['tweet_id',
 'in_reply_to_status_id',
 'in_reply_to_user_id',
 'retweeted_status_id',
 'retweeted_status_user_id']

In [28]:
meet_list = []

for i in range(0, len(tae)):
    if 'meet' in tae.text.iloc[i]:
        meet = tae[['tweet_id', 'text']].iloc[i]
        meet_list.append(meet)

In [29]:
meet_list

[tweet_id                                   886680336477933568
 text        This is Derek. He's late for a dog meeting. 13...
 Name: 28, dtype: object,
 tweet_id                                   884162670584377345
 text        Meet Yogi. He doesn't have any important dog m...
 Name: 43, dtype: object,
 tweet_id                                   779123168116150273
 text        This is Reggie. He hugs everyone he meets. 12/...
 Name: 750, dtype: object,
 tweet_id                                   669353438988365824
 text        This is Tessa. She is also very pleased after ...
 Name: 2169, dtype: object,
 tweet_id                                   667806454573760512
 text        This is Filup. He is overcome with joy after f...
 Name: 2251, dtype: object]

In [30]:
meet_list

[tweet_id                                   886680336477933568
 text        This is Derek. He's late for a dog meeting. 13...
 Name: 28, dtype: object,
 tweet_id                                   884162670584377345
 text        Meet Yogi. He doesn't have any important dog m...
 Name: 43, dtype: object,
 tweet_id                                   779123168116150273
 text        This is Reggie. He hugs everyone he meets. 12/...
 Name: 750, dtype: object,
 tweet_id                                   669353438988365824
 text        This is Tessa. She is also very pleased after ...
 Name: 2169, dtype: object,
 tweet_id                                   667806454573760512
 text        This is Filup. He is overcome with joy after f...
 Name: 2251, dtype: object]

In [31]:
# create dataframe from list (column names need to match)
meet_df = pd.DataFrame(meet_list, columns=['tweet_id', 'text'])

In [32]:
meet_df = pd.DataFrame(meet_list, columns = ['tweet_id', 'text'])
meet_df

                tweet_id                                               text
28    886680336477933568  This is Derek. He's late for a dog meeting. 13...
43    884162670584377345  Meet Yogi. He doesn't have any important dog m...
750   779123168116150273  This is Reggie. He hugs everyone he meets. 12/...
2169  669353438988365824  This is Tessa. She is also very pleased after ...
2251  667806454573760512  This is Filup. He is overcome with joy after f...

In [33]:
for i in range(0, len(tae)):
    if 'meat' in tae.text.iloc[i]:
        print(tae.text.iloc[i])

"So... we meat again" (I'm so sorry for that pun I couldn't resist pls don't unfollow) 10/10 https://t.co/XFBrrqapZa

In [34]:
meat_list = []

for i in range(0, len(tae)):
    if 'meat' in tae.text_meat.iloc[i]:
        meat = tae[['tweet_id', 'text']].iloc[i]
        meat_list.append(meat)

AttributeError: 'DataFrame' object has no attribute 'text_meat'

In [ ]:
meat_df = pd.DataFrame(meat_list, columns = ['tweet_id', 'text'])
meat_df

In [35]:
list = []

for i in range(0, len(tae)):
    if 'meet' in (tae.text.iloc[i]):
        list.append(tae.text.iloc[i])

list

["This is Derek. He's late for a dog meeting. 13/10 pet...al to the metal https://t.co/BCoWue0abA",
 "Meet Yogi. He doesn't have any important dog meetings today he just enjoys looking his best at all times. 12/10 for dangerously dapper doggo https://t.co/YSI00BzTBZ",
 'This is Reggie. He hugs everyone he meets. 12/10 keep spreading the love Reggie https://t.co/uMfhduaate',
 'This is Tessa. She is also very pleased after finally meeting her biological father. 10/10 https://t.co/qDS1aCqppv',
 'This is Filup. He is overcome with joy after finally meeting his father. 10/10 https://t.co/TBmDJXJB75']

In [36]:
df = pd.DataFrame(list, columns=['text'])
df

                                                text
0  This is Derek. He's late for a dog meeting. 13...
1  Meet Yogi. He doesn't have any important dog m...
2  This is Reggie. He hugs everyone he meets. 12/...
3  This is Tessa. She is also very pleased after ...
4  This is Filup. He is overcome with joy after f...

#### If statements

In [37]:
'9' in tae.tweet_id[0].astype(str)

True

In [38]:
tweet_id_list_8 = []
tweet_id_list_9 = []

for i in range(0, len(tae)):
    if '9' in tae.tweet_id[i].astype(str):
        tweet_id_list_9.append(tae.tweet_id[i])
    elif '8' in tae.tweet_id[i].astype(str):
        tweet_id_list_8.append(tae.tweet_id[i])
    else:
        print('Unrecognizeable')

Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable

In [39]:
len(tweet_id_list_8)

377

In [40]:
len(tweet_id_list_9)

1943

In [41]:
# count words in tae.text - list

In [42]:
text_length = []

for i in range (0, len(tae)):
    x = len(tae.text[i].split(' '))
    text_length.append(x)

In [43]:
text_length

[18,
 26,
 24,
 17,
 27,
 20,
 23,
 26,
 24,
 21,
 20,
 22,
 21,
 18,
 19,
 23,
 20,
 29,
 13,
 19,
 25,
 23,
 19,
 17,
 17,
 23,
 20,
 19,
 15,
 20,
 17,
 17,
 5,
 25,
 19,
 12,
 20,
 21,
 19,
 22,
 14,
 24,
 20,
 25,
 27,
 22,
 26,
 21,
 20,
 20,
 23,
 21,
 27,
 11,
 19,
 15,
 19,
 24,
 13,
 23,
 20,
 19,
 21,
 16,
 3,
 17,
 16,
 24,
 24,
 23,
 18,
 19,
 9,
 23,
 21,
 22,
 22,
 18,
 17,
 24,
 26,
 23,
 21,
 23,
 25,
 22,
 24,
 25,
 17,
 22,
 18,
 25,
 23,
 25,
 27,
 19,
 23,
 23,
 22,
 28,
 22,
 22,
 19,
 25,
 26,
 24,
 22,
 26,
 26,
 24,
 6,
 23,
 28,
 7,
 23,
 25,
 24,
 24,
 25,
 19,
 26,
 26,
 22,
 17,
 22,
 18,
 21,
 21,
 11,
 26,
 10,
 26,
 24,
 11,
 24,
 22,
 23,
 23,
 27,
 22,
 23,
 20,
 24,
 20,
 22,
 16,
 24,
 23,
 24,
 27,
 23,
 21,
 25,
 25,
 17,
 19,
 13,
 23,
 15,
 23,
 8,
 22,
 19,
 26,
 27,
 9,
 27,
 24,
 29,
 24,
 27,
 25,
 26,
 18,
 27,
 27,
 26,
 23,
 24,
 4,
 23,
 17,
 25,
 25,
 25,
 18,
 27,
 22,
 15,
 24,
 20,
 21,
 25,
 25,
 22,
 22,
 21,
 18,
 21,
 28,
 27,
 23,
 21,
 23,
 23,
 22,
 22,
 22,
 24,
 25,
 28,
 16,
 12,
 26,
 28,
 25,
 28,
 24,
 22,
 21,
 17,
 22,
 24,
 21,
 27,
 22,
 21,
 25,
 24,
 24,
 21,
 11,
 23,
 22,
 13,
 19,
 19,
 20,
 20,
 26,
 25,
 16,
 18,
 23,
 17,
 22,
 20,
 21,
 22,
 15,
 25,
 23,
 20,
 27,
 25,
 27,
 12,
 27,
 22,
 23,
 16,
 18,
 25,
 20,
 23,
 23,
 13,
 26,
 21,
 14,
 23,
 22,
 22,
 25,
 8,
 18,
 21,
 21,
 21,
 19,
 25,
 13,
 11,
 8,
 19,
 12,
 28,
 27,
 25,
 24,
 2,
 10,
 21,
 21,
 25,
 24,
 20,
 15,
 11,
 23,
 28,
 23,
 18,
 24,
 24,
 22,
 24,
 24,
 20,
 22,
 13,
 23,
 21,
 17,
 23,
 17,
 24,
 26,
 17,
 28,
 24,
 22,
 25,
 12,
 20,
 19,
 27,
 24,
 26,
 11,
 22,
 27,
 11,
 22,
 7,
 18,
 19,
 25,
 19,
 24,
 23,
 16,
 5,
 22,
 21,
 24,
 4,
 27,
 14,
 22,
 23,
 23,
 26,
 28,
 22,
 12,
 18,
 21,
 21,
 17,
 23,
 28,
 21,
 14,
 23,
 24,
 29,
 25,
 23,
 14,
 14,
 28,
 22,
 24,
 25,
 10,
 26,
 21,
 28,
 25,
 23,
 25,
 24,
 25,
 15,
 29,
 22,
 14,
 15,
 23,
 21,
 18,
 13,
 22,
 21,
 20,
 22,
 23,
 22,
 19,
 21,
 19,
 10,
 17,
 9,
 13,
 16,
 24,
 18,
 2,
 21,
 20,
 24,
 14,
 25,
 18,
 21,
 16,
 29,
 18,
 22,
 12,
 20,
 16,
 25,
 25,
 21,
 11,
 11,
 26,
 25,
 21,
 22,
 14,
 23,
 17,
 22,
 19,
 24,
 23,
 20,
 10,
 20,
 21,
 11,
 19,
 21,
 23,
 21,
 19,
 19,
 14,
 18,
 16,
 25,
 22,
 20,
 15,
 15,
 22,
 25,
 27,
 21,
 11,
 22,
 12,
 22,
 11,
 20,
 19,
 15,
 20,
 20,
 20,
 17,
 25,
 17,
 24,
 10,
 25,
 16,
 20,
 10,
 17,
 15,
 25,
 23,
 19,
 18,
 20,
 24,
 14,
 14,
 21,
 20,
 15,
 24,
 17,
 23,
 17,
 19,
 13,
 20,
 23,
 18,
 18,
 25,
 17,
 21,
 18,
 19,
 15,
 8,
 22,
 20,
 20,
 22,
 21,
 18,
 16,
 27,
 20,
 21,
 11,
 20,
 25,
 18,
 17,
 23,
 17,
 14,
 23,
 22,
 29,
 14,
 18,
 18,
 17,
 21,
 14,
 18,
 20,
 20,
 20,
 25,
 13,
 15,
 27,
 25,
 11,
 17,
 11,
 16,
 19,
 23,
 21,
 6,
 18,
 23,
 21,
 14,
 19,
 14,
 18,
 23,
 9,
 19,
 28,
 19,
 19,
 13,
 16,
 4,
 12,
 24,
 21,
 17,
 6,
 17,
 15,
 16,
 22,
 20,
 22,
 15,
 10,
 15,
 21,
 19,
 24,
 17,
 15,
 12,
 23,
 23,
 22,
 10,
 16,
 20,
 23,
 20,
 17,
 15,
 18,
 26,
 21,
 23,
 24,
 17,
 17,
 17,
 12,
 20,
 17,
 23,
 23,
 13,
 23,
 18,
 16,
 2,
 21,
 10,
 15,
 10,
 15,
 17,
 13,
 13,
 17,
 24,
 23,
 19,
 13,
 23,
 15,
 20,
 14,
 23,
 17,
 13,
 25,
 17,
 20,
 8,
 26,
 15,
 13,
 24,
 20,
 16,
 20,
 18,
 24,
 14,
 16,
 17,
 14,
 21,
 23,
 20,
 14,
 13,
 17,
 18,
 17,
 21,
 14,
 16,
 23,
 16,
 24,
 16,
 10,
 13,
 11,
 18,
 23,
 16,
 22,
 20,
 15,
 20,
 14,
 15,
 16,
 19,
 12,
 18,
 22,
 20,
 21,
 14,
 22,
 26,
 21,
 10,
 20,
 15,
 13,
 20,
 5,
 17,
 17,
 21,
 25,
 12,
 8,
 16,
 23,
 14,
 18,
 14,
 13,
 14,
 26,
 15,
 24,
 26,
 19,
 16,
 18,
 18,
 16,
 17,
 18,
 21,
 23,
 20,
 22,
 19,
 18,
 19,
 8,
 23,
 21,
 21,
 23,
 19,
 18,
 12,
 17,
 10,
 20,
 20,
 25,
 17,
 15,
 17,
 24,
 15,
 17,
 22,
 14,
 13,
 15,
 24,
 16,
 16,
 22,
 21,
 20,
 11,
 25,
 21,
 18,
 17,
 15,
 22,
 16,
 10,
 21,
 20,
 22,
 20,
 19,
 20,
 21,
 11,
 21,
 22,
 22,
 16,
 17,
 24,
 13,
 15,
 15,
 22,
 20,
 16,
 19,
 20,
 14,
 23,
 23,
 20,
 19,
 15,
 19,
 21,
 24,
 19,
 21,
 22,
 22,
 21,
 4,
 21,
 14,
 21,
 15,
 22,
 21,
 24,
 19,
 19,
 19,
 21,
 20,
 20,
 16,
 15,
 23,
 20,
 17,
 19,
 19,
 13,
 23,
 21,
 23,
 21,
 24,
 24,
 19,
 13,
 21,
 17,
 22,
 17,
 24,
 23,
 27,
 20,
 21,
 20,
 21,
 13,
 19,
 24,
 14,
 24,
 23,
 19,
 23,
 21,
 16,
 12,
 17,
 24,
 19,
 21,
 19,
 22,
 11,
 9,
 21,
 22,
 24,
 7,
 20,
 9,
 18,
 19,
 22,
 17,
 22,
 16,
 18,
 13,
 13,
 14,
 23,
 20,
 15,
 12,
 22,
 19,
 24,
 20,
 22,
 24,
 25,
 16,
 6,
 23,
 16,
 21,
 19,
 23,
 18,
 11,
 14,
 21,
 12,
 24,
 15,
 13,
 22,
 19,
 15,
 23,
 21,
 16,
 21,
 17,
 22,
 20,
 12,
 10,
 19,
 25,
 14,
 23,
 14,
 12,
 24,
 17,
 10,
 15,
 22,
 17,
 19,
 21,
 11,
 23,
 21,
 16,
 11,
 21,
 12,
 18,
 22,
 12,
 7,
 15,
 17,
 15,
 9,
 21,
 11,
 18,
 15,
 12,
 12,
 22,
 19,
 19,
 21,
 19,
 14,
 22,
 21,
 14,
 13,
 23,
 5,
 14,
 16,
 17,
 22,
 20,
 11,
 22,
 22,
 24,
 20,
 16,
 10,
 14,
 13,
 26,
 20,
 24,
 17,
 20,
 20,
 22,
 17,
 18,
 20,
 22,
 25,
 16,
 18,
 9,
 14,
 22,
 14,
 ...]

In [44]:
# count words in tae.text - dict
text_length_dict = {}

for i in range (0, len(tae)):
    x = len(tae.text[i].split(' '))   
    new_variable = x
    text_length_dict[i] = new_variable

In [45]:
text_length_dict

{0: 18,
 1: 26,
 2: 24,
 3: 17,
 4: 27,
 5: 20,
 6: 23,
 7: 26,
 8: 24,
 9: 21,
 10: 20,
 11: 22,
 12: 21,
 13: 18,
 14: 19,
 15: 23,
 16: 20,
 17: 29,
 18: 13,
 19: 19,
 20: 25,
 21: 23,
 22: 19,
 23: 17,
 24: 17,
 25: 23,
 26: 20,
 27: 19,
 28: 15,
 29: 20,
 30: 17,
 31: 17,
 32: 5,
 33: 25,
 34: 19,
 35: 12,
 36: 20,
 37: 21,
 38: 19,
 39: 22,
 40: 14,
 41: 24,
 42: 20,
 43: 25,
 44: 27,
 45: 22,
 46: 26,
 47: 21,
 48: 20,
 49: 20,
 50: 23,
 51: 21,
 52: 27,
 53: 11,
 54: 19,
 55: 15,
 56: 19,
 57: 24,
 58: 13,
 59: 23,
 60: 20,
 61: 19,
 62: 21,
 63: 16,
 64: 3,
 65: 17,
 66: 16,
 67: 24,
 68: 24,
 69: 23,
 70: 18,
 71: 19,
 72: 9,
 73: 23,
 74: 21,
 75: 22,
 76: 22,
 77: 18,
 78: 17,
 79: 24,
 80: 26,
 81: 23,
 82: 21,
 83: 23,
 84: 25,
 85: 22,
 86: 24,
 87: 25,
 88: 17,
 89: 22,
 90: 18,
 91: 25,
 92: 23,
 93: 25,
 94: 27,
 95: 19,
 96: 23,
 97: 23,
 98: 22,
 99: 28,
 100: 22,
 101: 22,
 102: 19,
 103: 25,
 104: 26,
 105: 24,
 106: 22,
 107: 26,
 108: 26,
 109: 24,
 110: 6,
 111: 23,
 112: 28,
 113: 7,
 114: 23,
 115: 25,
 116: 24,
 117: 24,
 118: 25,
 119: 19,
 120: 26,
 121: 26,
 122: 22,
 123: 17,
 124: 22,
 125: 18,
 126: 21,
 127: 21,
 128: 11,
 129: 26,
 130: 10,
 131: 26,
 132: 24,
 133: 11,
 134: 24,
 135: 22,
 136: 23,
 137: 23,
 138: 27,
 139: 22,
 140: 23,
 141: 20,
 142: 24,
 143: 20,
 144: 22,
 145: 16,
 146: 24,
 147: 23,
 148: 24,
 149: 27,
 150: 23,
 151: 21,
 152: 25,
 153: 25,
 154: 17,
 155: 19,
 156: 13,
 157: 23,
 158: 15,
 159: 23,
 160: 8,
 161: 22,
 162: 19,
 163: 26,
 164: 27,
 165: 9,
 166: 27,
 167: 24,
 168: 29,
 169: 24,
 170: 27,
 171: 25,
 172: 26,
 173: 18,
 174: 27,
 175: 27,
 176: 26,
 177: 23,
 178: 24,
 179: 4,
 180: 23,
 181: 17,
 182: 25,
 183: 25,
 184: 25,
 185: 18,
 186: 27,
 187: 22,
 188: 15,
 189: 24,
 190: 20,
 191: 21,
 192: 25,
 193: 25,
 194: 22,
 195: 22,
 196: 21,
 197: 18,
 198: 21,
 199: 28,
 200: 27,
 201: 23,
 202: 21,
 203: 23,
 204: 23,
 205: 22,
 206: 22,
 207: 22,
 208: 24,
 209: 25,
 210: 28,
 211: 16,
 212: 12,
 213: 26,
 214: 28,
 215: 25,
 216: 28,
 217: 24,
 218: 22,
 219: 21,
 220: 17,
 221: 22,
 222: 24,
 223: 21,
 224: 27,
 225: 22,
 226: 21,
 227: 25,
 228: 24,
 229: 24,
 230: 21,
 231: 11,
 232: 23,
 233: 22,
 234: 13,
 235: 19,
 236: 19,
 237: 20,
 238: 20,
 239: 26,
 240: 25,
 241: 16,
 242: 18,
 243: 23,
 244: 17,
 245: 22,
 246: 20,
 247: 21,
 248: 22,
 249: 15,
 250: 25,
 251: 23,
 252: 20,
 253: 27,
 254: 25,
 255: 27,
 256: 12,
 257: 27,
 258: 22,
 259: 23,
 260: 16,
 261: 18,
 262: 25,
 263: 20,
 264: 23,
 265: 23,
 266: 13,
 267: 26,
 268: 21,
 269: 14,
 270: 23,
 271: 22,
 272: 22,
 273: 25,
 274: 8,
 275: 18,
 276: 21,
 277: 21,
 278: 21,
 279: 19,
 280: 25,
 281: 13,
 282: 11,
 283: 8,
 284: 19,
 285: 12,
 286: 28,
 287: 27,
 288: 25,
 289: 24,
 290: 2,
 291: 10,
 292: 21,
 293: 21,
 294: 25,
 295: 24,
 296: 20,
 297: 15,
 298: 11,
 299: 23,
 300: 28,
 301: 23,
 302: 18,
 303: 24,
 304: 24,
 305: 22,
 306: 24,
 307: 24,
 308: 20,
 309: 22,
 310: 13,
 311: 23,
 312: 21,
 313: 17,
 314: 23,
 315: 17,
 316: 24,
 317: 26,
 318: 17,
 319: 28,
 320: 24,
 321: 22,
 322: 25,
 323: 12,
 324: 20,
 325: 19,
 326: 27,
 327: 24,
 328: 26,
 329: 11,
 330: 22,
 331: 27,
 332: 11,
 333: 22,
 334: 7,
 335: 18,
 336: 19,
 337: 25,
 338: 19,
 339: 24,
 340: 23,
 341: 16,
 342: 5,
 343: 22,
 344: 21,
 345: 24,
 346: 4,
 347: 27,
 348: 14,
 349: 22,
 350: 23,
 351: 23,
 352: 26,
 353: 28,
 354: 22,
 355: 12,
 356: 18,
 357: 21,
 358: 21,
 359: 17,
 360: 23,
 361: 28,
 362: 21,
 363: 14,
 364: 23,
 365: 24,
 366: 29,
 367: 25,
 368: 23,
 369: 14,
 370: 14,
 371: 28,
 372: 22,
 373: 24,
 374: 25,
 375: 10,
 376: 26,
 377: 21,
 378: 28,
 379: 25,
 380: 23,
 381: 25,
 382: 24,
 383: 25,
 384: 15,
 385: 29,
 386: 22,
 387: 14,
 388: 15,
 389: 23,
 390: 21,
 391: 18,
 392: 13,
 393: 22,
 394: 21,
 395: 20,
 396: 22,
 397: 23,
 398: 22,
 399: 19,
 400: 21,
 401: 19,
 402: 10,
 403: 17,
 404: 9,
 405: 13,
 406: 16,
 407: 24,
 408: 18,
 409: 2,
 410: 21,
 411: 20,
 412: 24,
 413: 14,
 414: 25,
 415: 18,
 416: 21,
 417: 16,
 418: 29,
 419: 18,
 420: 22,
 421: 12,
 422: 20,
 423: 16,
 424: 25,
 425: 25,
 426: 21,
 427: 11,
 428: 11,
 429: 26,
 430: 25,
 431: 21,
 432: 22,
 433: 14,
 434: 23,
 435: 17,
 436: 22,
 437: 19,
 438: 24,
 439: 23,
 440: 20,
 441: 10,
 442: 20,
 443: 21,
 444: 11,
 445: 19,
 446: 21,
 447: 23,
 448: 21,
 449: 19,
 450: 19,
 451: 14,
 452: 18,
 453: 16,
 454: 25,
 455: 22,
 456: 20,
 457: 15,
 458: 15,
 459: 22,
 460: 25,
 461: 27,
 462: 21,
 463: 11,
 464: 22,
 465: 12,
 466: 22,
 467: 11,
 468: 20,
 469: 19,
 470: 15,
 471: 20,
 472: 20,
 473: 20,
 474: 17,
 475: 25,
 476: 17,
 477: 24,
 478: 10,
 479: 25,
 480: 16,
 481: 20,
 482: 10,
 483: 17,
 484: 15,
 485: 25,
 486: 23,
 487: 19,
 488: 18,
 489: 20,
 490: 24,
 491: 14,
 492: 14,
 493: 21,
 494: 20,
 495: 15,
 496: 24,
 497: 17,
 498: 23,
 499: 17,
 500: 19,
 501: 13,
 502: 20,
 503: 23,
 504: 18,
 505: 18,
 506: 25,
 507: 17,
 508: 21,
 509: 18,
 510: 19,
 511: 15,
 512: 8,
 513: 22,
 514: 20,
 515: 20,
 516: 22,
 517: 21,
 518: 18,
 519: 16,
 520: 27,
 521: 20,
 522: 21,
 523: 11,
 524: 20,
 525: 25,
 526: 18,
 527: 17,
 528: 23,
 529: 17,
 530: 14,
 531: 23,
 532: 22,
 533: 29,
 534: 14,
 535: 18,
 536: 18,
 537: 17,
 538: 21,
 539: 14,
 540: 18,
 541: 20,
 542: 20,
 543: 20,
 544: 25,
 545: 13,
 546: 15,
 547: 27,
 548: 25,
 549: 11,
 550: 17,
 551: 11,
 552: 16,
 553: 19,
 554: 23,
 555: 21,
 556: 6,
 557: 18,
 558: 23,
 559: 21,
 560: 14,
 561: 19,
 562: 14,
 563: 18,
 564: 23,
 565: 9,
 566: 19,
 567: 28,
 568: 19,
 569: 19,
 570: 13,
 571: 16,
 572: 4,
 573: 12,
 574: 24,
 575: 21,
 576: 17,
 577: 6,
 578: 17,
 579: 15,
 580: 16,
 581: 22,
 582: 20,
 583: 22,
 584: 15,
 585: 10,
 586: 15,
 587: 21,
 588: 19,
 589: 24,
 590: 17,
 591: 15,
 592: 12,
 593: 23,
 594: 23,
 595: 22,
 596: 10,
 597: 16,
 598: 20,
 599: 23,
 600: 20,
 601: 17,
 602: 15,
 603: 18,
 604: 26,
 605: 21,
 606: 23,
 607: 24,
 608: 17,
 609: 17,
 610: 17,
 611: 12,
 612: 20,
 613: 17,
 614: 23,
 615: 23,
 616: 13,
 617: 23,
 618: 18,
 619: 16,
 620: 2,
 621: 21,
 622: 10,
 623: 15,
 624: 10,
 625: 15,
 626: 17,
 627: 13,
 628: 13,
 629: 17,
 630: 24,
 631: 23,
 632: 19,
 633: 13,
 634: 23,
 635: 15,
 636: 20,
 637: 14,
 638: 23,
 639: 17,
 640: 13,
 641: 25,
 642: 17,
 643: 20,
 644: 8,
 645: 26,
 646: 15,
 647: 13,
 648: 24,
 649: 20,
 650: 16,
 651: 20,
 652: 18,
 653: 24,
 654: 14,
 655: 16,
 656: 17,
 657: 14,
 658: 21,
 659: 23,
 660: 20,
 661: 14,
 662: 13,
 663: 17,
 664: 18,
 665: 17,
 666: 21,
 667: 14,
 668: 16,
 669: 23,
 670: 16,
 671: 24,
 672: 16,
 673: 10,
 674: 13,
 675: 11,
 676: 18,
 677: 23,
 678: 16,
 679: 22,
 680: 20,
 681: 15,
 682: 20,
 683: 14,
 684: 15,
 685: 16,
 686: 19,
 687: 12,
 688: 18,
 689: 22,
 690: 20,
 691: 21,
 692: 14,
 693: 22,
 694: 26,
 695: 21,
 696: 10,
 697: 20,
 698: 15,
 699: 13,
 700: 20,
 701: 5,
 702: 17,
 703: 17,
 704: 21,
 705: 25,
 706: 12,
 707: 8,
 708: 16,
 709: 23,
 710: 14,
 711: 18,
 712: 14,
 713: 13,
 714: 14,
 715: 26,
 716: 15,
 717: 24,
 718: 26,
 719: 19,
 720: 16,
 721: 18,
 722: 18,
 723: 16,
 724: 17,
 725: 18,
 726: 21,
 727: 23,
 728: 20,
 729: 22,
 730: 19,
 731: 18,
 732: 19,
 733: 8,
 734: 23,
 735: 21,
 736: 21,
 737: 23,
 738: 19,
 739: 18,
 740: 12,
 741: 17,
 742: 10,
 743: 20,
 744: 20,
 745: 25,
 746: 17,
 747: 15,
 748: 17,
 749: 24,
 750: 15,
 751: 17,
 752: 22,
 753: 14,
 754: 13,
 755: 15,
 756: 24,
 757: 16,
 758: 16,
 759: 22,
 760: 21,
 761: 20,
 762: 11,
 763: 25,
 764: 21,
 765: 18,
 766: 17,
 767: 15,
 768: 22,
 769: 16,
 770: 10,
 771: 21,
 772: 20,
 773: 22,
 774: 20,
 775: 19,
 776: 20,
 777: 21,
 778: 11,
 779: 21,
 780: 22,
 781: 22,
 782: 16,
 783: 17,
 784: 24,
 785: 13,
 786: 15,
 787: 15,
 788: 22,
 789: 20,
 790: 16,
 791: 19,
 792: 20,
 793: 14,
 794: 23,
 795: 23,
 796: 20,
 797: 19,
 798: 15,
 799: 19,
 800: 21,
 801: 24,
 802: 19,
 803: 21,
 804: 22,
 805: 22,
 806: 21,
 807: 4,
 808: 21,
 809: 14,
 810: 21,
 811: 15,
 812: 22,
 813: 21,
 814: 24,
 815: 19,
 816: 19,
 817: 19,
 818: 21,
 819: 20,
 820: 20,
 821: 16,
 822: 15,
 823: 23,
 824: 20,
 825: 17,
 826: 19,
 827: 19,
 828: 13,
 829: 23,
 830: 21,
 831: 23,
 832: 21,
 833: 24,
 834: 24,
 835: 19,
 836: 13,
 837: 21,
 838: 17,
 839: 22,
 840: 17,
 841: 24,
 842: 23,
 843: 27,
 844: 20,
 845: 21,
 846: 20,
 847: 21,
 848: 13,
 849: 19,
 850: 24,
 851: 14,
 852: 24,
 853: 23,
 854: 19,
 855: 23,
 856: 21,
 857: 16,
 858: 12,
 859: 17,
 860: 24,
 861: 19,
 862: 21,
 863: 19,
 864: 22,
 865: 11,
 866: 9,
 867: 21,
 868: 22,
 869: 24,
 870: 7,
 871: 20,
 872: 9,
 873: 18,
 874: 19,
 875: 22,
 876: 17,
 877: 22,
 878: 16,
 879: 18,
 880: 13,
 881: 13,
 882: 14,
 883: 23,
 884: 20,
 885: 15,
 886: 12,
 887: 22,
 888: 19,
 889: 24,
 890: 20,
 891: 22,
 892: 24,
 893: 25,
 894: 16,
 895: 6,
 896: 23,
 897: 16,
 898: 21,
 899: 19,
 900: 23,
 901: 18,
 902: 11,
 903: 14,
 904: 21,
 905: 12,
 906: 24,
 907: 15,
 908: 13,
 909: 22,
 910: 19,
 911: 15,
 912: 23,
 913: 21,
 914: 16,
 915: 21,
 916: 17,
 917: 22,
 918: 20,
 919: 12,
 920: 10,
 921: 19,
 922: 25,
 923: 14,
 924: 23,
 925: 14,
 926: 12,
 927: 24,
 928: 17,
 929: 10,
 930: 15,
 931: 22,
 932: 17,
 933: 19,
 934: 21,
 935: 11,
 936: 23,
 937: 21,
 938: 16,
 939: 11,
 940: 21,
 941: 12,
 942: 18,
 943: 22,
 944: 12,
 945: 7,
 946: 15,
 947: 17,
 948: 15,
 949: 9,
 950: 21,
 951: 11,
 952: 18,
 953: 15,
 954: 12,
 955: 12,
 956: 22,
 957: 19,
 958: 19,
 959: 21,
 960: 19,
 961: 14,
 962: 22,
 963: 21,
 964: 14,
 965: 13,
 966: 23,
 967: 5,
 968: 14,
 969: 16,
 970: 17,
 971: 22,
 972: 20,
 973: 11,
 974: 22,
 975: 22,
 976: 24,
 977: 20,
 978: 16,
 979: 10,
 980: 14,
 981: 13,
 982: 26,
 983: 20,
 984: 24,
 985: 17,
 986: 20,
 987: 20,
 988: 22,
 989: 17,
 990: 18,
 991: 20,
 992: 22,
 993: 25,
 994: 16,
 995: 18,
 996: 9,
 997: 14,
 998: 22,
 999: 14,
 ...}

In [46]:
# count words in tae.text - dataframe
text_length_df = pd.DataFrame(columns=['number', 'word_count'])

for i in range (0, len(tae)):
    x = len(tae.text[i].split(' '))
    df_append = pd.DataFrame([[i, x]], columns = ['number', 'word_count'])
    text_length_df = text_length_df.append(df_append)

text_length_df

   number word_count
0       0         18
0       1         26
0       2         24
0       3         17
0       4         27
..    ...        ...
0    2351         19
0    2352         22
0    2353         21
0    2354         22
0    2355         22

[2356 rows x 2 columns]

### Create new columns

In [47]:
# new column needs to be created
tae.text_meat = tae.text.str.replace('meet', 'meat')

<ipython-input-47-46be25c1e612>:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  tae.text_meat = tae.text.str.replace('meet', 'meat')

In [48]:
tae.rating_sum = tae.rating_numerator/2

<ipython-input-48-0e691c394311>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  tae.rating_sum = tae.rating_numerator/2

In [180]:
tae['rating'] = tae['rating_denominator'] + tae['rating_numerator']

### Rename columns

In [49]:
# rename columns
meat_df = meat_df.rename(columns={'tweet_id':'tweat_id'})
meat_df

NameError: name 'meat_df' is not defined

In [170]:
meet_df = meet_df.rename(columns={'tweet_id':'tweat_id', 'text':'test'})
meet_df

                tweat_id                                               test
28    886680336477933568  This is Derek. He's late for a dog meeting. 13...
43    884162670584377345  Meet Yogi. He doesn't have any important dog m...
750   779123168116150273  This is Reggie. He hugs everyone he meets. 12/...
2169  669353438988365824  This is Tessa. She is also very pleased after ...
2251  667806454573760512  This is Filup. He is overcome with joy after f...

In [171]:
# rename columns (same output)
tae.rename(columns={'timestamp':'time'}, inplace=True)
tae = tae.rename(columns={'timestamp':'time'})

### Merge columns

In [172]:
dog_columns = ['doggo', 'floofer', 'pupper', 'puppo']

for column in dog_columns:
    tae[column] = tae[column].str.replace('None','')

In [173]:
new_dog = tae[['doggo', 'floofer', 'pupper', 'puppo']]
new_dog

     doggo floofer pupper puppo
0
1
2
3
4
...    ...     ...    ...   ...
2351
2352
2353
2354
2355

[2356 rows x 4 columns]

In [174]:
new_dog['new_column'] = new_dog['doggo'] + new_dog['floofer'] + new_dog['pupper'] + new_dog['puppo']

<ipython-input-174-eecb94a07185>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dog['new_column'] = new_dog['doggo'] + new_dog['floofer'] + new_dog['pupper'] + new_dog['puppo']

In [175]:
new_dog['new_column'].value_counts()

                1976
pupper           245
doggo             83
puppo             29
doggopupper       12
floofer            9
doggofloofer       1
doggopuppo         1
Name: new_column, dtype: int64

In [176]:
new_dog['new_column'] = new_dog['new_column'].str.replace('doggopupper','undecided')
new_dog['new_column'] = new_dog['new_column'].str.replace('doggopuppo','undecided')
new_dog['new_column'] = new_dog['new_column'].str.replace('doggofloofer','undecided')

<ipython-input-176-bbab528c1e30>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dog['new_column'] = new_dog['new_column'].str.replace('doggopupper','undecided')
<ipython-input-176-bbab528c1e30>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dog['new_column'] = new_dog['new_column'].str.replace('doggopuppo','undecided')
<ipython-input-176-bbab528c1e30>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dog['new_column'] = new_dog['new_column'].str.replace('doggofloofer','undecided')

In [177]:
new_dog['new_column'].value_counts()

             1976
pupper        245
doggo          83
puppo          29
undecided      14
floofer         9
Name: new_column, dtype: int64

### Use index

In [178]:
meet_df

                tweat_id                                               test
28    886680336477933568  This is Derek. He's late for a dog meeting. 13...
43    884162670584377345  Meet Yogi. He doesn't have any important dog m...
750   779123168116150273  This is Reggie. He hugs everyone he meets. 12/...
2169  669353438988365824  This is Tessa. She is also very pleased after ...
2251  667806454573760512  This is Filup. He is overcome with joy after f...

In [56]:
meet_df.index

Int64Index([28, 43, 750, 2169, 2251], dtype='int64')

In [57]:
text_list = []

for i in range (0, len(meet_df.index)):
    x = meet_df.index[i]
    text_list.append(tae.text.iloc[x])

In [58]:
text = pd.DataFrame(text_list, columns=['text'])
text

                                                text
0  This is Derek. He's late for a dog meeting. 13...
1  Meet Yogi. He doesn't have any important dog m...
2  This is Reggie. He hugs everyone he meets. 12/...
3  This is Tessa. She is also very pleased after ...
4  This is Filup. He is overcome with joy after f...

### Create list from dataframe

In [59]:
tweet_id_list = tae.tweet_id.tolist()
tweet_id_list

[892420643555336193,
 892177421306343426,
 891815181378084864,
 891689557279858688,
 891327558926688256,
 891087950875897856,
 890971913173991426,
 890729181411237888,
 890609185150312448,
 890240255349198849,
 890006608113172480,
 889880896479866881,
 889665388333682689,
 889638837579907072,
 889531135344209921,
 889278841981685760,
 888917238123831296,
 888804989199671297,
 888554962724278272,
 888202515573088257,
 888078434458587136,
 887705289381826560,
 887517139158093824,
 887473957103951883,
 887343217045368832,
 887101392804085760,
 886983233522544640,
 886736880519319552,
 886680336477933568,
 886366144734445568,
 886267009285017600,
 886258384151887873,
 886054160059072513,
 885984800019947520,
 885528943205470208,
 885518971528720385,
 885311592912609280,
 885167619883638784,
 884925521741709313,
 884876753390489601,
 884562892145688576,
 884441805382717440,
 884247878851493888,
 884162670584377345,
 883838122936631299,
 883482846933004288,
 883360690899218434,
 883117836046086144,
 882992080364220416,
 882762694511734784,
 882627270321602560,
 882268110199369728,
 882045870035918850,
 881906580714921986,
 881666595344535552,
 881633300179243008,
 881536004380872706,
 881268444196462592,
 880935762899988482,
 880872448815771648,
 880465832366813184,
 880221127280381952,
 880095782870896641,
 879862464715927552,
 879674319642796034,
 879492040517615616,
 879415818425184262,
 879376492567855104,
 879130579576475649,
 879050749262655488,
 879008229531029506,
 878776093423087618,
 878604707211726852,
 878404777348136964,
 878316110768087041,
 878281511006478336,
 878057613040115712,
 877736472329191424,
 877611172832227328,
 877556246731214848,
 877316821321428993,
 877201837425926144,
 876838120628539392,
 876537666061221889,
 876484053909872640,
 876120275196170240,
 875747767867523072,
 875144289856114688,
 875097192612077568,
 875021211251597312,
 874680097055178752,
 874434818259525634,
 874296783580663808,
 874057562936811520,
 874012996292530176,
 873697596434513921,
 873580283840344065,
 873337748698140672,
 873213775632977920,
 872967104147763200,
 872820683541237760,
 872668790621863937,
 872620804844003328,
 872486979161796608,
 872261713294495745,
 872122724285648897,
 871879754684805121,
 871762521631449091,
 871515927908634625,
 871166179821445120,
 871102520638267392,
 871032628920680449,
 870804317367881728,
 870726314365509632,
 870656317836468226,
 870374049280663552,
 870308999962521604,
 870063196459192321,
 869988702071779329,
 869772420881756160,
 869702957897576449,
 869596645499047938,
 869227993411051520,
 868880397819494401,
 868639477480148993,
 868622495443632128,
 868552278524837888,
 867900495410671616,
 867774946302451713,
 867421006826221569,
 867072653475098625,
 867051520902168576,
 866816280283807744,
 866720684873056260,
 866686824827068416,
 866450705531457537,
 866334964761202691,
 866094527597207552,
 865718153858494464,
 865359393868664832,
 865006731092295680,
 864873206498414592,
 864279568663928832,
 864197398364647424,
 863907417377173506,
 863553081350529029,
 863471782782697472,
 863432100342583297,
 863427515083354112,
 863079547188785154,
 863062471531167744,
 862831371563274240,
 862722525377298433,
 862457590147678208,
 862096992088072192,
 861769973181624320,
 861383897657036800,
 861288531465048066,
 861005113778896900,
 860981674716409858,
 860924035999428608,
 860563773140209665,
 860524505164394496,
 860276583193509888,
 860184849394610176,
 860177593139703809,
 859924526012018688,
 859851578198683649,
 859607811541651456,
 859196978902773760,
 859074603037188101,
 858860390427611136,
 858843525470990336,
 858471635011153920,
 858107933456039936,
 857989990357356544,
 857746408056729600,
 857393404942143489,
 857263160327368704,
 857214891891077121,
 857062103051644929,
 857029823797047296,
 856602993587888130,
 856543823941562368,
 856526610513747968,
 856330835276025856,
 856288084350160898,
 856282028240666624,
 855862651834028034,
 855860136149123072,
 855857698524602368,
 855851453814013952,
 855818117272018944,
 855459453768019968,
 855245323840757760,
 855138241867124737,
 854732716440526848,
 854482394044301312,
 854365224396361728,
 854120357044912130,
 854010172552949760,
 853760880890318849,
 853639147608842240,
 853299958564483072,
 852936405516943360,
 852912242202992640,
 852672615818899456,
 852553447878664193,
 852311364735569921,
 852226086759018497,
 852189679701164033,
 851953902622658560,
 851861385021730816,
 851591660324737024,
 851464819735769094,
 851224888060895234,
 850753642995093505,
 850380195714523136,
 850333567704068097,
 850145622816686080,
 850019790995546112,
 849776966551130114,
 849668094696017920,
 849412302885593088,
 849336543269576704,
 849051919805034497,
 848690551926992896,
 848324959059550208,
 848213670039564288,
 848212111729840128,
 847978865427394560,
 847971574464610304,
 847962785489326080,
 847842811428974592,
 847617282490613760,
 847606175596138505,
 847251039262605312,
 847157206088847362,
 847116187444137987,
 846874817362120707,
 846514051647705089,
 846505985330044928,
 846153765933735936,
 846139713627017216,
 846042936437604353,
 845812042753855489,
 845677943972139009,
 845459076796616705,
 845397057150107648,
 845306882940190720,
 845098359547420673,
 844979544864018432,
 844973813909606400,
 844704788403113984,
 844580511645339650,
 844223788422217728,
 843981021012017153,
 843856843873095681,
 843604394117681152,
 843235543001513987,
 842892208864923648,
 842846295480000512,
 842765311967449089,
 842535590457499648,
 842163532590374912,
 842115215311396866,
 841833993020538882,
 841680585030541313,
 841439858740625411,
 841320156043304961,
 841314665196081154,
 841077006473256960,
 840761248237133825,
 840728873075638272,
 840698636975636481,
 840696689258311684,
 840632337062862849,
 840370681858686976,
 840268004936019968,
 839990271299457024,
 839549326359670784,
 839290600511926273,
 839239871831150596,
 838952994649550848,
 838921590096166913,
 838916489579200512,
 838831947270979586,
 838561493054533637,
 838476387338051585,
 838201503651401729,
 838150277551247360,
 838085839343206401,
 838083903487373313,
 837820167694528512,
 837482249356513284,
 837471256429613056,
 837366284874571778,
 837110210464448512,
 837012587749474308,
 836989968035819520,
 836753516572119041,
 836677758902222849,
 836648853927522308,
 836397794269200385,
 836380477523124226,
 836260088725786625,
 836001077879255040,
 835685285446955009,
 835574547218894849,
 835536468978302976,
 835309094223372289,
 835297930240217089,
 835264098648616962,
 835246439529840640,
 835172783151792128,
 835152434251116546,
 834931633769889797,
 834786237630337024,
 834574053763584002,
 834477809192075265,
 834458053273591808,
 834209720923721728,
 834167344700198914,
 834089966724603904,
 834086379323871233,
 833863086058651648,
 833826103416520705,
 833732339549220864,
 833722901757046785,
 833479644947025920,
 833124694597443584,
 832998151111966721,
 832769181346996225,
 832757312314028032,
 832682457690300417,
 832645525019123713,
 832636094638288896,
 832397543355072512,
 832369877331693569,
 832273440279240704,
 832215909146226688,
 832215726631055365,
 832088576586297345,
 832040443403784192,
 832032802820481025,
 831939777352105988,
 831926988323639298,
 831911600680497154,
 831670449226514432,
 831650051525054464,
 831552930092285952,
 831322785565769729,
 831315979191906304,
 831309418084069378,
 831262627380748289,
 830956169170665475,
 830583320585068544,
 830173239259324417,
 830097400375152640,
 829878982036299777,
 829861396166877184,
 829501995190984704,
 829449946868879360,
 829374341691346946,
 829141528400556032,
 829011960981237760,
 828801551087042563,
 828770345708580865,
 828708714936930305,
 828650029636317184,
 828409743546925057,
 828408677031882754,
 828381636999917570,
 828376505180889089,
 828372645993398273,
 828361771580813312,
 828046555563323392,
 828011680017821696,
 827933404142436356,
 827653905312006145,
 827600520311402496,
 827324948884643840,
 827228250799742977,
 827199976799354881,
 826958653328592898,
 826848821049180160,
 826615380357632002,
 826598799820865537,
 826598365270007810,
 826476773533745153,
 826240494070030336,
 826204788643753985,
 826115272272650244,
 825876512159186944,
 825829644528148480,
 825535076884762624,
 825147591692263424,
 825120256414846976,
 825026590719483904,
 824796380199809024,
 824775126675836928,
 824663926340194305,
 824325613288833024,
 824297048279236611,
 824025158776213504,
 823939628516474880,
 823719002937630720,
 823699002998870016,
 823581115634085888,
 823333489516937216,
 823322678127919110,
 823269594223824897,
 822975315408461824,
 822872901745569793,
 822859134160621569,
 822647212903690241,
 822610361945911296,
 822489057087389700,
 822462944365645825,
 822244816520155136,
 822163064745328640,
 821886076407029760,
 821813639212650496,
 821765923262631936,
 821522889702862852,
 821421320206483457,
 821407182352777218,
 821153421864615936,
 821149554670182400,
 821107785811234820,
 821044531881721856,
 820837357901512704,
 820749716845686786,
 820690176645140481,
 820494788566847489,
 820446719150292993,
 820314633777061888,
 820078625395449857,
 820013781606658049,
 819952236453363712,
 819924195358416896,
 819711362133872643,
 819588359383371776,
 819347104292290561,
 819238181065359361,
 819227688460238848,
 819015337530290176,
 819015331746349057,
 819006400881917954,
 819004803107983360,
 818646164899774465,
 818627210458333184,
 818614493328580609,
 818588835076603904,
 818536468981415936,
 818307523543449600,
 818259473185828864,
 818145370475810820,
 817908911860748288,
 817827839487737858,
 817777686764523521,
 817536400337801217,
 817502432452313088,
 817423860136083457,
 817415592588222464,
 817181837579653120,
 817171292965273600,
 817120970343411712,
 817056546584727552,
 816829038950027264,
 816816676327063552,
 816697700272001025,
 816450570814898180,
 816336735214911488,
 816091915477250048,
 816062466425819140,
 816014286006976512,
 815990720817401858,
 815966073409433600,
 815745968457060357,
 815736392542261248,
 815639385530101762,
 815390420867969024,
 814986499976527872,
 814638523311648768,
 814578408554463233,
 814530161257443328,
 814153002265309185,
 813944609378369540,
 813910438903693312,
 813812741911748608,
 813800681631023104,
 813217897535406080,
 813202720496779264,
 813187593374461952,
 813172488309972993,
 813157409116065792,
 813142292504645637,
 813130366689148928,
 813127251579564032,
 813112105746448384,
 813096984823349248,
 813081950185472002,
 813066809284972545,
 813051746834595840,
 812781120811126785,
 812747805718642688,
 812709060537683968,
 812503143955202048,
 812466873996607488,
 812372279581671427,
 811985624773361665,
 811744202451197953,
 811647686436880384,
 811627233043480576,
 811386762094317568,
 810984652412424192,
 810896069567610880,
 810657578271330305,
 810284430598270976,
 810254108431155201,
 809920764300447744,
 809808892968534016,
 809448704142938112,
 809220051211603969,
 809084759137812480,
 808838249661788160,
 808733504066486276,
 808501579447930884,
 808344865868283904,
 808134635716833280,
 808106460588765185,
 808001312164028416,
 807621403335917568,
 807106840509214720,
 807059379405148160,
 807010152071229440,
 806629075125202948,
 806620845233815552,
 806576416489959424,
 806542213899489280,
 806242860592926720,
 806219024703037440,
 805958939288408065,
 805932879469572096,
 805826884734976000,
 805823200554876929,
 805520635690676224,
 805487436403003392,
 805207613751304193,
 804738756058218496,
 804475857670639616,
 804413760345620481,
 804026241225523202,
 803773340896923648,
 803692223237865472,
 803638050916102144,
 803380650405482500,
 803321560782307329,
 803276597545603072,
 802952499103731712,
 802624713319034886,
 802600418706604034,
 802572683846291456,
 802323869084381190,
 802265048156610565,
 802247111496568832,
 802239329049477120,
 802185808107208704,
 801958328846974976,
 801854953262350336,
 801538201127157760,
 801285448605831168,
 801167903437357056,
 801127390143516673,
 801115127852503040,
 800859414831898624,
 800855607700029440,
 800751577355128832,
 800513324630806528,
 800459316964663297,
 800443802682937345,
 800388270626521089,
 800188575492947969,
 800141422401830912,
 800018252395122689,
 799774291445383169,
 799757965289017345,
 799422933579902976,
 799308762079035393,
 799297110730567681,
 799063482566066176,
 798933969379225600,
 798925684722855936,
 798705661114773508,
 798701998996647937,
 798697898615730177,
 798694562394996736,
 798686750113755136,
 798682547630837760,
 798673117451325440,
 798665375516884993,
 798644042770751489,
 798628517273620480,
 798585098161549313,
 798576900688019456,
 798340744599797760,
 798209839306514432,
 797971864723324932,
 797545162159308800,
 797236660651966464,
 797165961484890113,
 796904159865868288,
 796865951799083009,
 796759840936919040,
 796563435802726400,
 796484825502875648,
 796387464403357696,
 796177847564038144,
 796149749086875649,
 796125600683540480,
 796116448414461957,
 796080075804475393,
 796031486298386433,
 795464331001561088,
 795400264262053889,
 795076730285391872,
 794983741416415232,
 794926597468000259,
 794355576146903043,
 794332329137291264,
 794205286408003585,
 793962221541933056,
 793845145112371200,
 793614319594401792,
 793601777308463104,
 793500921481273345,
 793286476301799424,
 793271401113350145,
 793256262322548741,
 793241302385262592,
 793226087023144960,
 793210959003287553,
 793195938047070209,
 793180763617361921,
 793165685325201412,
 793150605191548928,
 793135492858580992,
 793120401413079041,
 792913359805018113,
 792883833364439040,
 792773781206999040,
 792394556390137856,
 792050063153438720,
 791821351946420224,
 791784077045166082,
 791780927877898241,
 791774931465953280,
 791672322847637504,
 791406955684368384,
 791312159183634433,
 791026214425268224,
 790987426131050500,
 790946055508652032,
 790723298204217344,
 790698755171364864,
 790581949425475584,
 790337589677002753,
 790277117346975746,
 790227638568808452,
 789986466051088384,
 789960241177853952,
 789903600034189313,
 789628658055020548,
 789599242079838210,
 789530877013393408,
 789314372632018944,
 789280767834746880,
 789268448748703744,
 789137962068021249,
 788908386943430656,
 788765914992902144,
 788552643979468800,
 788412144018661376,
 788178268662984705,
 788150585577050112,
 788070120937619456,
 788039637453406209,
 787810552592695296,
 787717603741622272,
 787397959788929025,
 787322443945877504,
 787111942498508800,
 786963064373534720,
 786729988674449408,
 786709082849828864,
 786664955043049472,
 786595970293370880,
 786363235746385920,
 786286427768250368,
 786233965241827333,
 786051337297522688,
 786036967502913536,
 785927819176054784,
 785872687017132033,
 785639753186217984,
 785533386513321988,
 785515384317313025,
 785264754247995392,
 785170936622350336,
 784826020293709826,
 784517518371221505,
 784431430411685888,
 784183165795655680,
 784057939640352768,
 783839966405230592,
 783821107061198850,
 783695101801398276,
 783466772167098368,
 783391753726550016,
 783347506784731136,
 783334639985389568,
 783085703974514689,
 782969140009107456,
 782747134529531904,
 782722598790725632,
 782598640137187329,
 782305867769217024,
 782021823840026624,
 781955203444699136,
 781661882474196992,
 781655249211752448,
 781524693396357120,
 781308096455073793,
 781251288990355457,
 781163403222056960,
 780931614150983680,
 780858289093574656,
 780800785462489090,
 780601303617732608,
 780543529827336192,
 780496263422808064,
 780476555013349377,
 780459368902959104,
 780192070812196864,
 780092040432480260,
 780074436359819264,
 779834332596887552,
 779377524342161408,
 779124354206535695,
 779123168116150273,
 779056095788752897,
 778990705243029504,
 778774459159379968,
 778764940568104960,
 778748913645780993,
 778650543019483137,
 778624900596654080,
 778408200802557953,
 778396591732486144,
 778383385161035776,
 778286810187399168,
 778039087836069888,
 778027034220126208,
 777953400541634568,
 777885040357281792,
 777684233540206592,
 777641927919427584,
 777621514455814149,
 777189768882946048,
 776819012571455488,
 776813020089548800,
 776477788987613185,
 776249906839351296,
 776218204058357768,
 776201521193218049,
 776113305656188928,
 776088319444877312,
 775898661951791106,
 775842724423557120,
 775733305207554048,
 775729183532220416,
 775364825476165632,
 775350846108426240,
 775096608509886464,
 775085132600442880,
 774757898236878852,
 774639387460112384,
 774314403806253056,
 773985732834758656,
 773922284943896577,
 773704687002451968,
 773670353721753600,
 773547596996571136,
 773336787167145985,
 773308824254029826,
 773247561583001600,
 773191612633579521,
 772877495989305348,
 772826264096874500,
 772615324260794368,
 772581559778025472,
 772193107915964416,
 772152991789019136,
 772117678702071809,
 772114945936949249,
 772102971039580160,
 771908950375665664,
 771770456517009408,
 771500966810099713,
 771380798096281600,
 771171053431250945,
 771136648247640064,
 771102124360998913,
 771014301343748096,
 771004394259247104,
 770787852854652928,
 770772759874076672,
 770743923962707968,
 770655142660169732,
 770414278348247044,
 770293558247038976,
 770093767776997377,
 770069151037685760,
 769940425801170949,
 769695466921623552,
 769335591808995329,
 769212283578875904,
 768970937022709760,
 768909767477751808,
 768855141948723200,
 768609597686943744,
 768596291618299904,
 768554158521745409,
 768473857036525572,
 768193404517830656,
 767884188863397888,
 767754930266464257,
 767500508068192258,
 767191397493538821,
 767122157629476866,
 766864461642756096,
 766793450729734144,
 766714921925144576,
 766693177336135680,
 766423258543644672,
 766313316352462849,
 766078092750233600,
 766069199026450432,
 766008592277377025,
 765719909049503744,
 765669560888528897,
 765395769549590528,
 765371061932261376,
 765222098633691136,
 764857477905154048,
 764259802650378240,
 763956972077010945,
 763837565564780549,
 763183847194451968,
 763167063695355904,
 763103485927849985,
 762699858130116608,
 762471784394268675,
 762464539388485633,
 762316489655476224,
 762035686371364864,
 761976711479193600,
 761750502866649088,
 761745352076779520,
 761672994376806400,
 761599872357261312,
 761371037149827077,
 761334018830917632,
 761292947749015552,
 761227390836215808,
 761004547850530816,
 760893934457552897,
 760656994973933572,
 760641137271070720,
 760539183865880579,
 760521673607086080,
 760290219849637889,
 760252756032651264,
 760190180481531904,
 760153949710192640,
 759943073749200896,
 759923798737051648,
 759846353224826880,
 759793422261743616,
 759566828574212096,
 759557299618865152,
 759447681597108224,
 759446261539934208,
 759197388317847553,
 759159934323924993,
 759099523532779520,
 759047813560868866,
 758854675097526272,
 758828659922702336,
 758740312047005698,
 758474966123810816,
 758467244762497024,
 758405701903519748,
 758355060040593408,
 758099635764359168,
 758041019896193024,
 757741869644341248,
 757729163776290825,
 757725642876129280,
 757611664640446465,
 757597904299253760,
 757596066325864448,
 757400162377592832,
 757393109802180609,
 757354760399941633,
 756998049151549440,
 756939218950160384,
 756651752796094464,
 756526248105566208,
 756303284449767430,
 756288534030475264,
 756275833623502848,
 755955933503782912,
 755206590534418437,
 755110668769038337,
 754874841593970688,
 754856583969079297,
 754747087846248448,
 754482103782404096,
 754449512966619136,
 754120377874386944,
 754011816964026368,
 753655901052166144,
 753420520834629632,
 753398408988139520,
 753375668877008896,
 753298634498793472,
 753294487569522689,
 753039830821511168,
 753026973505581056,
 752932432744185856,
 752917284578922496,
 752701944171524096,
 752682090207055872,
 752660715232722944,
 752568224206688256,
 752519690950500352,
 752334515931054080,
 752309394570878976,
 752173152931807232,
 751950017322246144,

### Reshaping data

#### Melt

In [60]:
short_df = tae.query('tweet_id >= 890000070584377345')[['tweet_id', 'rating_numerator']]
short_df

              tweet_id  rating_numerator
0   892420643555336193                13
1   892177421306343426                13
2   891815181378084864                12
3   891689557279858688                13
4   891327558926688256                12
5   891087950875897856                13
6   890971913173991426                13
7   890729181411237888                13
8   890609185150312448                13
9   890240255349198849                14
10  890006608113172480                13

In [61]:
melt_df = pd.melt(short_df)
melt_df

            variable               value
0           tweet_id  892420643555336193
1           tweet_id  892177421306343426
2           tweet_id  891815181378084864
3           tweet_id  891689557279858688
4           tweet_id  891327558926688256
5           tweet_id  891087950875897856
6           tweet_id  890971913173991426
7           tweet_id  890729181411237888
8           tweet_id  890609185150312448
9           tweet_id  890240255349198849
10          tweet_id  890006608113172480
11  rating_numerator                  13
12  rating_numerator                  13
13  rating_numerator                  12
14  rating_numerator                  13
15  rating_numerator                  12
16  rating_numerator                  13
17  rating_numerator                  13
18  rating_numerator                  13
19  rating_numerator                  13
20  rating_numerator                  14
21  rating_numerator                  13

#### Concat

In [62]:
short_df_1 = short_df.iloc[0:5]
short_df_1

             tweet_id  rating_numerator
0  892420643555336193                13
1  892177421306343426                13
2  891815181378084864                12
3  891689557279858688                13
4  891327558926688256                12

In [63]:
short_df_2 = short_df.iloc[5:11]
short_df_2

              tweet_id  rating_numerator
5   891087950875897856                13
6   890971913173991426                13
7   890729181411237888                13
8   890609185150312448                13
9   890240255349198849                14
10  890006608113172480                13

In [64]:
concat_df = pd.concat([short_df_2, short_df_1])
concat_df

              tweet_id  rating_numerator
5   891087950875897856                13
6   890971913173991426                13
7   890729181411237888                13
8   890609185150312448                13
9   890240255349198849                14
10  890006608113172480                13
0   892420643555336193                13
1   892177421306343426                13
2   891815181378084864                12
3   891689557279858688                13
4   891327558926688256                12

In [65]:
small_df_1 = short_df['tweet_id']
small_df_2 = short_df['rating_numerator']

In [66]:
concat_df_sideways = pd.concat([small_df_2, small_df_1], axis=1)
concat_df_sideways

    rating_numerator            tweet_id
0                 13  892420643555336193
1                 13  892177421306343426
2                 12  891815181378084864
3                 13  891689557279858688
4                 12  891327558926688256
5                 13  891087950875897856
6                 13  890971913173991426
7                 13  890729181411237888
8                 13  890609185150312448
9                 14  890240255349198849
10                13  890006608113172480

#### Merge

In [216]:
pd.merge(short_df_1, short_df_2, how='outer')

              tweet_id  rating_numerator
0   892420643555336193                13
1   892177421306343426                13
2   891815181378084864                12
3   891689557279858688                13
4   891327558926688256                12
5   891087950875897856                13
6   890971913173991426                13
7   890729181411237888                13
8   890609185150312448                13
9   890240255349198849                14
10  890006608113172480                13

In [210]:
pd.merge(short_df_1, short_df_2, how='left', on='tweet_id')

             tweet_id  rating_numerator_x  rating_numerator_y
0  892420643555336193                  13                 NaN
1  892177421306343426                  13                 NaN
2  891815181378084864                  12                 NaN
3  891689557279858688                  13                 NaN
4  891327558926688256                  12                 NaN

In [214]:
pd.merge(short_df_1, short_df_2, how='right', on='tweet_id')

             tweet_id  rating_numerator_x  rating_numerator_y
0  891087950875897856                 NaN                  13
1  890971913173991426                 NaN                  13
2  890729181411237888                 NaN                  13
3  890609185150312448                 NaN                  13
4  890240255349198849                 NaN                  14
5  890006608113172480                 NaN                  13

In [213]:
pd.merge(short_df_1, short_df_2, how='outer', on='tweet_id')

              tweet_id  rating_numerator_x  rating_numerator_y
0   892420643555336193                13.0                 NaN
1   892177421306343426                13.0                 NaN
2   891815181378084864                12.0                 NaN
3   891689557279858688                13.0                 NaN
4   891327558926688256                12.0                 NaN
5   891087950875897856                 NaN                13.0
6   890971913173991426                 NaN                13.0
7   890729181411237888                 NaN                13.0
8   890609185150312448                 NaN                13.0
9   890240255349198849                 NaN                14.0
10  890006608113172480                 NaN                13.0

In [215]:
pd.merge(short_df_1, short_df_2, how='inner', on='tweet_id')

Empty DataFrame
Columns: [tweet_id, rating_numerator_x, rating_numerator_y]
Index: []

#### Pivot

In [67]:
short_df.pivot(columns='rating_numerator', values='tweet_id')

rating_numerator            12            13            14
0                          NaN  8.924206e+17           NaN
1                          NaN  8.921774e+17           NaN
2                 8.918152e+17           NaN           NaN
3                          NaN  8.916896e+17           NaN
4                 8.913276e+17           NaN           NaN
5                          NaN  8.910880e+17           NaN
6                          NaN  8.909719e+17           NaN
7                          NaN  8.907292e+17           NaN
8                          NaN  8.906092e+17           NaN
9                          NaN           NaN  8.902403e+17
10                         NaN  8.900066e+17           NaN

### Sort values

#### Dataframes

In [68]:
short_df.sort_values('tweet_id', ascending=True)

              tweet_id  rating_numerator
10  890006608113172480                13
9   890240255349198849                14
8   890609185150312448                13
7   890729181411237888                13
6   890971913173991426                13
5   891087950875897856                13
4   891327558926688256                12
3   891689557279858688                13
2   891815181378084864                12
1   892177421306343426                13
0   892420643555336193                13

In [69]:
short_df.sort_index()

              tweet_id  rating_numerator
0   892420643555336193                13
1   892177421306343426                13
2   891815181378084864                12
3   891689557279858688                13
4   891327558926688256                12
5   891087950875897856                13
6   890971913173991426                13
7   890729181411237888                13
8   890609185150312448                13
9   890240255349198849                14
10  890006608113172480                13

In [70]:
# moves index to column
longer_df = short_df.reset_index()

In [71]:
longer_df.drop(columns=['index'])

              tweet_id  rating_numerator
0   892420643555336193                13
1   892177421306343426                13
2   891815181378084864                12
3   891689557279858688                13
4   891327558926688256                12
5   891087950875897856                13
6   890971913173991426                13
7   890729181411237888                13
8   890609185150312448                13
9   890240255349198849                14
10  890006608113172480                13

#### Lists

In [72]:
number_list = ['1', '5', '3']

In [73]:
sorted(number_list)

['1', '3', '5']

#### Dictonaries

In [74]:
new_dict = {'joni': 31, 'anne': 33, 'zw√∂rg√º':0.5}

In [75]:
import collections

new_dict_order = collections.OrderedDict(sorted(new_dict.items()))
new_dict_order

OrderedDict([('anne', 33), ('joni', 31), ('zw√∂rg√º', 0.5)])

In [76]:
new_dict_details = {'joni': {'age': 31, 'height':185}, 'anne': {'age': 33, 'height':165}, 'zw√∂rg√º': {'age':0.5, 'height':0.5}}
new_dict_details

{'joni': {'age': 31, 'height': 185},
 'anne': {'age': 33, 'height': 165},
 'zw√∂rg√º': {'age': 0.5, 'height': 0.5}}

### Dictonary

In [77]:
for keys, values in new_dict_order.items(): 
    print (keys, values)

anne 33
joni 31
zw√∂rg√º 0.5

In [78]:
mini_zw√∂rg√º = 0.1
new_dict['mini_zw√∂rg√º'] = mini_zw√∂rg√º
new_dict

{'joni': 31, 'anne': 33, 'zw√∂rg√º': 0.5, 'mini_zw√∂rg√º': 0.1}

In [79]:
new_dict_order.keys()

odict_keys(['anne', 'joni', 'zw√∂rg√º'])

In [80]:
new_dict_order.values()

odict_values([33, 31, 0.5])

In [81]:
new_dict_details.keys()

dict_keys(['joni', 'anne', 'zw√∂rg√º'])

In [82]:
new_dict_details.values()

dict_values([{'age': 31, 'height': 185}, {'age': 33, 'height': 165}, {'age': 0.5, 'height': 0.5}])

In [83]:
new_dict_details.items()

dict_items([('joni', {'age': 31, 'height': 185}), ('anne', {'age': 33, 'height': 165}), ('zw√∂rg√º', {'age': 0.5, 'height': 0.5})])

In [84]:
# access values for key
new_dict_details.get('anne')

{'age': 33, 'height': 165}

In [85]:
new_dict_details['anne']

{'age': 33, 'height': 165}

In [86]:
# create new object for dict
mini_zw√∂rg√º = {'age': 0.1, 'height':0.1}
new_dict_details['mini_zw√∂rg√º'] = mini_zw√∂rg√º
new_dict_details

{'joni': {'age': 31, 'height': 185},
 'anne': {'age': 33, 'height': 165},
 'zw√∂rg√º': {'age': 0.5, 'height': 0.5},
 'mini_zw√∂rg√º': {'age': 0.1, 'height': 0.1}}

### List

In [87]:
new_list = [1, 5, 3]

In [88]:
new_list.append(4)
new_list

[1, 5, 3, 4]

In [89]:
new_list

[1, 5, 3, 4]

In [90]:
new_list.remove(1)

In [91]:
new_list

[5, 3, 4]

In [92]:
# sorts temporarily
sorted(new_list)

[3, 4, 5]

In [93]:
new_list[1]='hello'
new_list

[5, 'hello', 4]

In [94]:
new_list[-2]='okay'
new_list

[5, 'okay', 4]

In [95]:
new_list[1]=3
new_list

[5, 3, 4]

In [96]:
# sorts permanently
new_list.sort()
new_list

[3, 4, 5]

In [97]:
new_list.reverse()
new_list

[5, 4, 3]

### Create subsets

In [98]:
# select and order top entries
tae.nlargest(10, 'tweet_id')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None

In [99]:
# select and order bottom entries
tae.nsmallest(10, 'tweet_id')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2350,666050758794694657,NaN,NaN,2015-11-16 00:30:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a truly beautiful English Wilson Staff...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666050758...,10,10,a,None,None,None,None
2349,666051853826850816,NaN,NaN,2015-11-16 00:35:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an odd dog. Hard on the outside but lo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666051853...,2,10,an,None,None,None,None
2348,666055525042405380,NaN,NaN,2015-11-16 00:49:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a Siberian heavily armored polar bear ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666055525...,10,10,a,None,None,None,None
2347,666057090499244032,NaN,NaN,2015-11-16 00:55:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",My oh my. This is a rare blond Canadian terrie...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666057090...,9,10,a,None,None,None,None
2346,666058600524156928,NaN,NaN,2015-11-16 01:01:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is the Rand Paul of retrievers folks! He'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666058600...,8,10,the,None,None,None,None

In [100]:
# query
tae[tae.tweet_id > 890000070584377345]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None
10,890006608113172480,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None

In [101]:
tae.drop_duplicates()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [102]:
tae.filter(regex='id$') # how it ends (columns)
tae.filter(regex='^r') # how it begins (columns)
tae.filter(regex='^r[1-5]$') # how it begins r and ends between 1-5 (columns)
tae.filter(regex='^(?!Species$).*') # except for species

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

### Functions

In [103]:
def anne_function (input_1, input_2):
    anne_output = input_1 * input_2
    return anne_output

In [104]:
anne_function(3,4)

12

In [105]:
zw√∂rg√º_function = lambda input_1, input_2: input_1 + input_2

In [106]:
zw√∂rg√º_function(3,4)

7

### Dataframes

In [107]:
short_df

              tweet_id  rating_numerator
0   892420643555336193                13
1   892177421306343426                13
2   891815181378084864                12
3   891689557279858688                13
4   891327558926688256                12
5   891087950875897856                13
6   890971913173991426                13
7   890729181411237888                13
8   890609185150312448                13
9   890240255349198849                14
10  890006608113172480                13

In [108]:
short_df['rating'] = [1,1,1,1,1,1,2,1,1,1,1]
short_df

In [110]:
short_df['rating_calc'] = short_df['rating_numerator'] / short_df['rating']
short_df

In [112]:
new_id = pd.DataFrame({'tweet_id':1, 'rating_numerator':15, 'rating':3, 'rating_calc':4}, index=['11'])

In [113]:
new_id

    tweet_id  rating_numerator  rating  rating_calc
11         1                15       3            4

In [114]:
short_df.append(new_id)

              tweet_id  rating_numerator  rating  rating_calc
0   892420643555336193                13       1         13.0
1   892177421306343426                13       1         13.0
2   891815181378084864                12       1         12.0
3   891689557279858688                13       1         13.0
4   891327558926688256                12       1         12.0
5   891087950875897856                13       1         13.0
6   890971913173991426                13       2          6.5
7   890729181411237888                13       1         13.0
8   890609185150312448                13       1         13.0
9   890240255349198849                14       1         14.0
10  890006608113172480                13       1         13.0
11                   1                15       3          4.0

In [115]:
short_df.insert(2, 'rate', [3,3,3,3,3,3,3,3,3,3,3])
short_df

In [117]:
short_df.drop(['rating_calc'], axis=1)

              tweet_id  rating_numerator  rate  rating
0   892420643555336193                13     3       1
1   892177421306343426                13     3       1
2   891815181378084864                12     3       1
3   891689557279858688                13     3       1
4   891327558926688256                12     3       1
5   891087950875897856                13     3       1
6   890971913173991426                13     3       2
7   890729181411237888                13     3       1
8   890609185150312448                13     3       1
9   890240255349198849                14     3       1
10  890006608113172480                13     3       1

In [118]:
short_df.drop([9], axis=0, inplace=True)

In [119]:
short_df.rename(columns={'tweet_id':'tweet'}, inplace=True)

In [120]:
short_df.rename(index={1:'hallo'}, inplace=True)
short_df

                    tweet  rating_numerator  rate  rating  rating_calc
0      892420643555336193                13     3       1         13.0
hallo  892177421306343426                13     3       1         13.0
2      891815181378084864                12     3       1         12.0
3      891689557279858688                13     3       1         13.0
4      891327558926688256                12     3       1         12.0
5      891087950875897856                13     3       1         13.0
6      890971913173991426                13     3       2          6.5
7      890729181411237888                13     3       1         13.0
8      890609185150312448                13     3       1         13.0
10     890006608113172480                13     3       1         13.0

In [122]:
short_df = short_df.set_index('rating_calc')
short_df

                          tweet  rating_numerator  rate  rating
rating_calc
13.0         892420643555336193                13     3       1
13.0         892177421306343426                13     3       1
12.0         891815181378084864                12     3       1
13.0         891689557279858688                13     3       1
12.0         891327558926688256                12     3       1
13.0         891087950875897856                13     3       1
6.5          890971913173991426                13     3       2
13.0         890729181411237888                13     3       1
13.0         890609185150312448                13     3       1
13.0         890006608113172480                13     3       1

In [123]:
short_df.reset_index(drop=True, inplace=True)
short_df

In [169]:
short_df.drop(['tweet'], axis=1)

   rating_numerator  rate  rating
0                13     3       1
1                13     3       1
2                12     3       1
3                13     3       1
4                12     3       1
5                13     3       1
6                13     3       2
7                13     3       1
8                13     3       1
9                13     3       1

In [126]:
short_df.dropna(axis=0) # drop na rows
short_df.dropna(axis=1) # drop na columns
short_df.fillna(0)
short_df.fillna(method='ffill', axis=0) # use previous known value in column
short_df.fillna(method='ffill', axis=1) # use previous known value in row
short_df.fillna(method='backfill', axis=0) # use next known value in column
short_df.fillna(method='backfill', axis=1) # use next known value in row

short_df.interpolate(method='linear', axis=0) # use previous known value in column

                tweet  rating_numerator  rate  rating
0  892420643555336193                13     3       1
1  892177421306343426                13     3       1
2  891815181378084864                12     3       1
3  891689557279858688                13     3       1
4  891327558926688256                12     3       1
5  891087950875897856                13     3       1
6  890971913173991426                13     3       2
7  890729181411237888                13     3       1
8  890609185150312448                13     3       1
9  890006608113172480                13     3       1

### Descriptive statistics

In [127]:
tae.isnull().any()

tweet_id                      False
in_reply_to_status_id          True
in_reply_to_user_id            True
timestamp                     False
source                        False
text                          False
retweeted_status_id            True
retweeted_status_user_id       True
retweeted_status_timestamp     True
expanded_urls                  True
rating_numerator              False
rating_denominator            False
name                          False
doggo                         False
floofer                       False
pupper                        False
puppo                         False
dtype: bool

In [128]:
tae.tweet_id.max()

892420643555336193

In [129]:
tae.corr()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
tweet_id,1.000000,0.940568,0.135083,0.744733,0.144644,0.049496,-0.028273
in_reply_to_status_id,0.940568,1.000000,0.136589,NaN,NaN,0.265525,-0.109931
in_reply_to_user_id,0.135083,0.136589,1.000000,NaN,NaN,-0.034593,-0.019973
retweeted_status_id,0.744733,NaN,NaN,1.000000,0.168284,0.171930,-0.037949
retweeted_status_user_id,0.144644,NaN,NaN,0.168284,1.000000,0.016674,-0.009668
rating_numerator,0.049496,0.265525,-0.034593,0.171930,0.016674,1.000000,0.150388
rating_denominator,-0.028273,-0.109931,-0.019973,-0.037949,-0.009668,0.150388,1.000000

### Group by

In [130]:
tae.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [131]:
tae.groupby(['rating_numerator', 'source'])['rating_denominator'].mean()

rating_numerator  source
0                 <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>      10.0
1                 <a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                      10.0
                  <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>       9.0
2                 <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>      10.0
3                 <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>      10.0
                                                                                                         ...
204               <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     170.0
420               <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>      10.0
666               <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>      10.0
960               <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>       0.0
1776              <a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>     10.0
Name: rating_denominator, Length: 63, dtype: float64

In [198]:
tae.groupby(['rating_numerator'])['rating_denominator'].cummax()
# / .size / .value_counts / .rank(method='dense' or 'min' or 'first' or 'pct=True') (ranks with no gaps) 
# / .cumsum (cumulative sum) / .cummax / .cummin / .cumprod

0       10
1       10
2       10
3       10
4       10
        ..
2351    10
2352    10
2353    11
2354    11
2355    10
Name: rating_denominator, Length: 2356, dtype: int64

### Text

In [132]:
for i in range(0, len(tae)):
    tae.text[i] = tae.text[i].lower()

<ipython-input-132-5234f726b493>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tae.text[i] = tae.text[i].lower()

In [133]:
tae.text

0       this is phineas. he's a mystical boy. only eve...
1       this is tilly. she's just checking pup on you....
2       this is archie. he is a rare norwegian pouncin...
3       this is darla. she commenced a snooze mid meal...
4       this is franklin. he would like you to stop ca...
                              ...
2351    here we have a 1949 1st generation vulpix. enj...
2352    this is a purebred piers morgan. loves to netf...
2353    here is a very happy pup. big fan of well-main...
2354    this is a western brown mitsubishi terrier. up...
2355    here we have a japanese irish setter. lost eye...
Name: text, Length: 2356, dtype: object

In [134]:
for i in range(0, len(tae)):
    tae.text[i] = tae.text[i].upper()

<ipython-input-134-346eb6135c6a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tae.text[i] = tae.text[i].upper()

In [135]:
tae.text

0       THIS IS PHINEAS. HE'S A MYSTICAL BOY. ONLY EVE...
1       THIS IS TILLY. SHE'S JUST CHECKING PUP ON YOU....
2       THIS IS ARCHIE. HE IS A RARE NORWEGIAN POUNCIN...
3       THIS IS DARLA. SHE COMMENCED A SNOOZE MID MEAL...
4       THIS IS FRANKLIN. HE WOULD LIKE YOU TO STOP CA...
                              ...
2351    HERE WE HAVE A 1949 1ST GENERATION VULPIX. ENJ...
2352    THIS IS A PUREBRED PIERS MORGAN. LOVES TO NETF...
2353    HERE IS A VERY HAPPY PUP. BIG FAN OF WELL-MAIN...
2354    THIS IS A WESTERN BROWN MITSUBISHI TERRIER. UP...
2355    HERE WE HAVE A JAPANESE IRISH SETTER. LOST EYE...
Name: text, Length: 2356, dtype: object

In [136]:
for i in range(0, len(tae)):
    tae.text[i] = tae.text[i].title()

<ipython-input-136-b55811ca3736>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tae.text[i] = tae.text[i].title()

In [137]:
tae.text

0       This Is Phineas. He'S A Mystical Boy. Only Eve...
1       This Is Tilly. She'S Just Checking Pup On You....
2       This Is Archie. He Is A Rare Norwegian Pouncin...
3       This Is Darla. She Commenced A Snooze Mid Meal...
4       This Is Franklin. He Would Like You To Stop Ca...
                              ...
2351    Here We Have A 1949 1St Generation Vulpix. Enj...
2352    This Is A Purebred Piers Morgan. Loves To Netf...
2353    Here Is A Very Happy Pup. Big Fan Of Well-Main...
2354    This Is A Western Brown Mitsubishi Terrier. Up...
2355    Here We Have A Japanese Irish Setter. Lost Eye...
Name: text, Length: 2356, dtype: object

### Summarize data

In [157]:
tae.rating_denominator.value_counts()

10     2333
11        3
50        3
20        2
80        2
0         1
120       1
7         1
170       1
150       1
130       1
90        1
110       1
2         1
70        1
40        1
16        1
15        1
Name: rating_denominator, dtype: int64

In [151]:
pd.DataFrame(tae.rating_denominator.value_counts())

     rating_denominator
10                 2333
11                    3
50                    3
20                    2
80                    2
0                     1
120                   1
7                     1
170                   1
150                   1
130                   1
90                    1
110                   1
2                     1
70                    1
40                    1
16                    1
15                    1

In [155]:
tae.groupby('rating_denominator')['rating_numerator'].mean() 
#/ .sum / .count / .median / .quantile([0.25,0.75]) / .min / .max / .mean / .var / .std
#/ .apply(function) - apply function to each object

rating_denominator
0      960.000000
2        1.000000
7       24.000000
10      12.237462
11       8.333333
15      11.000000
16      20.000000
20       4.000000
40      44.000000
50      51.666667
70      84.000000
80      84.000000
90      99.000000
110    121.000000
120    144.000000
130    143.000000
150    165.000000
170    204.000000
Name: rating_numerator, dtype: float64

### Handle missing data

In [159]:
tae.isnull().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [160]:
tae.isna().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [164]:
# drops rows where any column has na
tae.dropna()

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [168]:
# replaces na with value
tae.fillna('hello')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,hello,hello,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This Is Phineas. He'S A Mystical Boy. Only Eve...,hello,hello,hello,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,hello,hello,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This Is Tilly. She'S Just Checking Pup On You....,hello,hello,hello,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,hello,hello,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This Is Archie. He Is A Rare Norwegian Pouncin...,hello,hello,hello,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,hello,hello,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This Is Darla. She Commenced A Snooze Mid Meal...,hello,hello,hello,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,hello,hello,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This Is Franklin. He Would Like You To Stop Ca...,hello,hello,hello,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,hello,hello,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here We Have A 1949 1St Generation Vulpix. Enj...,hello,hello,hello,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,hello,hello,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This Is A Purebred Piers Morgan. Loves To Netf...,hello,hello,hello,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,hello,hello,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here Is A Very Happy Pup. Big Fan Of Well-Main...,hello,hello,hello,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,hello,hello,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This Is A Western Brown Mitsubishi Terrier. Up...,hello,hello,hello,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,hello,hello,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here We Have A Japanese Irish Setter. Lost Eye...,hello,hello,hello,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

# To Dos

In [48]:
# timestamp delete first part

In [49]:
# last columns replace none with nan
# use one part while concat

In [51]:
# change order of columns

In [52]:
# order rows with criteria

In [ ]:
# change types (astype)

### Exercise

In [ ]:
# create dataframe from list

In [ ]:
# rename columns

In [ ]:
# logic operators (in, not)

In [ ]:
# query (string and no string)

In [ ]:
# replace

In [ ]:
# access column and columns

In [ ]:
# access row and rows

In [ ]:
# access index